// ====================
// reset 重置
// ==================== //

// body {
//     color: green;
// }

// $link-color:red;
// $font-size:14px;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	// font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

// Normalize
// 當低版本瀏覽器遇到不識別的元素時，會默認把他們當成內聯元素( inline )，這裡重新定義成為block元素。
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

//=================================================================================================
// Neat
// 1. 預設中文字體[微軟正黑體]英文字體[sans-serif]
// 2. 中文小于 12px 可讀性很差，故body設置14px
// 3. 防止 iOS 橫屏字體放大，同時保證在PC上 zoom 功能正常
//=================================================================================================

html {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size: 62.5%;
	// 10/16=62.5%

	// font-family: sans-serif;
	line-height: 1;
	// font-size: 16px;
	color:$text-color;
}

// body {  font: $base-font-size/1.8 "微軟正黑體", Arial ;}
body {
	font-family:"微軟正黑體", "Apple LiGothic Medium","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-family: -apple-system,system-ui,BlinkMacSystemFont,pingfang-tc,aktiv-grotesk,source-han-sans-traditional,Segoe UI,Roboto,Helvetica Neue,Microsoft JhengHei,Microsoft YaHei,Helvetica,Arial,sans-serif;
	font-size: $base-font-size;
	line-height: 1.8;
	color: $text-color;
}

a {
	background-color: transparent;
	text-decoration: none;
	color: $base-link-color;
	// padding: 11px 52px 11px 47px;
	outline: none;
	cursor: pointer;
  &:active {
		background-color: transparent;
		outline: 0 none;
		color: $base-link-color;
	}
  &:hover {
		color: $base-link-hover;
		outline: 0 none;
	}
  &:focus {
		// outline: 1px dotted;
		//outline: thin dotted;
		outline: none;
	}
}

ol, ul {
	list-style: none;
	list-style-image: none;
}

audio, canvas, video, progress {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

// 在IE、Safari、Firefox 22- 中隱藏「template」元素
[hidden], template {
	display: none;
}

// 可拖動元素添加拖動的光標
[draggable] {
	cursor: move;
}

// 修正「abbr」元素在 Firefox 外其他瀏覽器没有下畫線的問題
// 添加問號光標，明確語義
abbr[title], acronym[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

// 統一設置為粗體
b, strong {
	font-weight: bold;
}

// 修正 Safari5 和 Chrome 中沒有樣式的問題
dfn {
	font-style: italic;
}


img {
	border: 0 none;
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: top;
	-ms-interpolation-mode: bicubic;
}

figure {
	margin: 0;
}

fieldset {
	border: 1px solid silver;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

// 修正 Firefox 和其他瀏覽器之間的差異
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

// 修正 IE6-11 中沒有樣式的問題
mark {
	background-color: #ff5a92;
	color: #000;
}

// 統一代碼的字體設置
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em;
}

pre {
	white-space: pre-wrap;
	overflow: auto;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

// font-size: 80%;
// 12/14=0.8571428571
small {
	font-size: 85.7%;
}

// 防止所有瀏覽器中的<sub>和<sup>影響行高
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

// 修復IE9中的overflow的怪異表現
svg:not(:root) {
	overflow: hidden;
}

// 1. 修正IE 6-9 中顏色不能繼承的問題
// 2. 重置內邊距
legend {
	border: 0 none;
	padding: 0;
	white-space: normal;
	*margin-left: -7px;
}

// 1. 統一 IE 6-7 中字體大小
// 2. 統一 Firefox 4+，Safari 5 和 Chrome 中「section」和「article」内的字體大小
// 3. 改善在所有瀏覽器下的垂直對齊方式
button, input, select, textarea {
	font-family: inherit;
	font: 12px/1 "微軟正黑體", "Apple LiGothic Medium","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline;
	*vertical-align: middle;
	outline: none;
}

button, input {
	line-height: normal;
}

button, select {
	text-transform: none;
}

button, html input[type="button"] {
	-webkit-appearance: button;
	cursor: pointer;
}

input {
	&[type="reset"], &[type="submit"] {
		-webkit-appearance: button;
		cursor: pointer;
	}
}

// 修正IE 8/9 box-sizing被設置為content-box的問題
// 移除IE 8/9 中多餘的內邊距
// 修正Safari 5和Chrome中appearance被設置為searchfield的問題
// 移除原生默認樣式，統一search的輸入框樣式.
button[disabled] {
	cursor: default;
}

input {
	&[disabled] {
		cursor: default;
}
	&[type="checkbox"], &[type="radio"] {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0;
		*height: 13px;
		*width: 13px;
}
	&[type="search"] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		box-sizing: content-box;
		&::-webkit-search-cancel-button, &::-webkit-search-decoration {
			-webkit-appearance: none;
		}
	}
}

// 移除Firefox 4+ 的內邊距
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	&[type="number"] {
		&::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
			height: auto;
		}
  	}	
}

textarea {
	overflow: auto;
	vertical-align: top;
	resize: vertical;
}

// label 元素給予手型，暗示此處可點擊
label {
	cursor: pointer;
}

// 統一 select 樣式, Firefox 中有 padding:1px 0
select {
	&[size], &[multiple], &[size][multiple] {
		border: 1px solid #AAA;
		padding: 0;
  	}
}

// 修正 Chrome 30- option 中文字無法顯示的問題
select:disabled option:checked, option:disabled:checked {
	color: #D2D2D2;
}

/* ========================
 表格
 ========================= */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

// 修復 IE 中 tr 不能繼承 text-align 的問題並統一左對齊
th {
	text-align: left;
}

// 單元格添加邊框
table {
	th, td {
	// border: 1px solid #ddd;
		padding: 8px 10px;
	}
  th {
	font-weight: inherit;
		// border-bottom-width: 2px;
		// border-bottom-color: #ccc;
	}
}
