// ====================
// variables 變數
// ==================== //

$white: #fff;
$primary: #a7ddf5 !default;
$darken-primary: rgba(20, 157, 218, 0.8) !default;
$lighten-primary: rgba(203,253,255,0.71)!default;

//--------------------------------------------//
// 格線
//--------------------------------------------//
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 2rem;

//--------------------------------------------//
// 容器、寬度
//--------------------------------------------//
$width: 1170px;
$container-width: 1170px;


//--------------------------------------------//
// 文字大小
//--------------------------------------------//
// $defaultFont: futura-pt, sans-serif;
$base-font-size: 16px;
$base-font-size-l: $base-font-size * 1.15;
$base-font-size-l: $base-font-size * .85;
$base-line-height: 1.5;

// $font-size-large: 64px;
// $font-size-large-mobile: 38px;
// $font-size-big: 48px;
// $font-size-big-small: 32px;
// $font-size-medium: 24px;
// $font-size-medium-small: 20px;
// $font-size-regular-bigger: 18px;
// $font-size-regular: 16px;

//--------------------------------------------//
// 文字顏色
//--------------------------------------------//
$text-color: #222;
$text-shadow: 1px 1px 2px #092524;

//--------------------------------------------//
// 輸入框顏色
//--------------------------------------------//
 // $input-color: #333;
 // $input-bg: #333;


//--------------------------------------------//
// 連結 Links 
//--------------------------------------------//
$base-link-color:      #71c5ea !default;
$base-link-hover:      lighten($base-link-color, 15%) !default;
// $base-link-hover:      darken($base-link-color, 15%) !default;

//--------------------------------------------//
// 行高
//--------------------------------------------//
// $base-line-height: 24px;
$base-line-height: 1.15;

//--------------------------------------------//
// 圓角
//--------------------------------------------//
$base-border-radius: 10px;



//--------------------------------------------//
// 文字顏色
//--------------------------------------------//
$text-color: #000;
$text-shadow: 1px 1px 2px #092524;



//--------------------------------------------//
// 背景
//--------------------------------------------//
$base-background: #efefef;

//--------------------------------------------//
// 線條
//--------------------------------------------//
$base-divider: #efefef;

//--------------------------------------------//
// 邊框
//--------------------------------------------//
// $base-border-color: $gray-light;



