@charset "UTF-8";
/*--------------------------------------------
Project    : phy
Version    : 1.0.0
Author     : phy
e-mail     : phys@gmail.com
Last change: 26/08/2018
----------------------------------------------*/
/* =========================================
// 1.0 functions 方程式
// ========================================= */
/* =========================================
// 2.0 variables 變數
// ========================================= */
/* =========================================
// 3.0 mixins 
// ========================================= */
/* =========================================
// 4.0 reset 重置 // 記的放最後
// ========================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1;
  color: #000; }

body {
  font-family: "微軟正黑體", "Apple LiGothic Medium","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,pingfang-tc,aktiv-grotesk,source-han-sans-traditional,Segoe UI,Roboto,Helvetica Neue,Microsoft JhengHei,Microsoft YaHei,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #000; }

a {
  background-color: transparent;
  text-decoration: none;
  color: #71c5ea;
  outline: none;
  cursor: pointer; }
  a:active {
    background-color: transparent;
    outline: 0 none;
    color: #71c5ea; }
  a:hover {
    color: #b4e0f4;
    outline: 0 none; }
  a:focus {
    outline: none; }

ol, ul {
  list-style: none;
  list-style-image: none; }

audio, canvas, video, progress {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

[draggable] {
  cursor: move; }

abbr[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

img {
  border: 0 none;
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

mark {
  background-color: #ff5a92;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  overflow: auto; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 85.7%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

legend {
  border: 0 none;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-family: inherit;
  font: 12px/1 "微軟正黑體", "Apple LiGothic Medium","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  outline: none; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

label {
  cursor: pointer; }

select[size], select[multiple], select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0; }

select:disabled option:checked, option:disabled:checked {
  color: #D2D2D2; }

/* ========================
 表格
 ========================= */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: left; }

table th, table td {
  padding: 8px 10px; }

table th {
  font-weight: inherit; }

/* =========================================
// 5.0 setup 設定 - 動畫、基本、字型、通用
// ========================================= */
/* ====================
// 5.1 animations
// ==================== */
@keyframes change-bg {
  0% {
    background-size: auto; }
  20% {
    background-size: contain; }
  40% {
    background-size: cover; }
  70% {
    background-image: linear-gradient(to right bottom, rgba(255, 235, 59, 0.25), rgba(255, 193, 7, 0)), url(../../src/images/dog_1.gif);
    background-size: inherit; }
  100% {
    background-size: initial; } }

.control--animation {
  position: relative;
  display: block;
  width: 100%; }
  .control--animation:before, .control--animation:after {
    content: "";
    position: absolute;
    display: block;
    width: 0;
    top: -1px;
    top: 0;
    height: 2px;
    background-color: #3f51b5;
    background-color: #a7ddf5;
    background-color: #76cbf1;
    transition: ease all .3s; }
  .control--animation:before {
    right: 50%; }
  .control--animation:after {
    left: 50%; }

/* ====================
// 5.2 base
// ==================== */
/* ====================
// 5.3 typography
// ==================== */
h1, h2, h3, h4, h5, h6 {
  font-weight: 600; }

p {
  font-size: .8rem; }

h2 {
  font-size: 3rem; }

.text__span {
  font-size: 0.8rem; }

.text--primary {
  color: #3f51b5; }

/* ====================
// 5.4 utilities
// ==================== */
.abs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.w--100 {
  width: 100%; }

.mt-30 {
  margin-top: 30px; }

.mb-30 {
  margin-bottom: 30px; }

.display--block {
  display: block; }

.hide {
  display: none; }

.card--of .card__body {
  overflow: visible; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

/* =========================================
// 6.0 vendors 外部引入使用
// ========================================= */
/* =========================================
// 7.0 Grid 格線
// ========================================= */
/* ====================
// grid 格線
// ==================== */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 1rem; }
  .row::after {
    content: '';
    display: table;
    clear: both; }
  .row [class^='col-'] {
    float: left; }
    .row [class^='col-']:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 2rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 2rem) / 3) + 2rem);
    background-color: red; }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 2rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 2rem) / 4) + 2rem);
    background-color: red; }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 2rem) / 4) + 2 * 2rem);
    background-color: red; }
  .row .col-1-of-5 {
    width: calc((100% - 4 * 2rem) / 5); }
  .row .col-2-of-5 {
    width: calc(2 * ((100% - 4 * 2rem) / 5) + 2rem);
    background-color: red; }
  .row .col-3-of-5 {
    width: calc(3 * ((100% - 4 * 2rem) / 5) + 2 * 2rem);
    background-color: red; }
  .row .col-4-of-5 {
    width: calc(4 * ((100% - 4 * 2rem) / 5) + 3 * 2rem);
    background-color: red; }
  .row .col-1-of-6 {
    width: calc((100% - 5 * 2rem) / 6);
    float: left; }
  .row .col-2-of-6 {
    width: calc(2 * ((100% - 5 * 2rem) / 6) + 2rem); }
  .row .col-3-of-6 {
    width: calc(3 * ((100% - 5 * 2rem) / 6) + 2 * 2rem); }
  .row .col-4-of-6 {
    width: calc(4 * ((100% - 5 * 2rem) / 6) + 3 * 2rem); }
  .row .col-5-of-6 {
    width: calc(5 * ((100% - 5 * 2rem) / 6) + 4 * 2rem); }

/* =========================================
// 8.0 components 組件、獨立使用
// ========================================= */
/* ====================
// add-box
// ==================== */
.add-box {
  z-index: 99999;
  position: absolute;
  padding: 15px 5px;
  background-color: #fff;
  right: 17px;
  top: 1rem;
  border: 1px solid #c3c3c3;
  box-shadow: 5px 5px 36px -5px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem; }
  .add-box ul {
    width: 100%; }
  .add-box__item {
    margin: 0;
    padding: 0; }

/* ====================
// button
// ==================== */
.btn {
  position: relative;
  padding: .5rem 1rem;
  padding: 1rem;
  background-color: transparent;
  border: 0;
  border-radius: 1.5px;
  line-height: 1.25;
  font-size: .875rem;
  font-size: 1.6rem;
  cursor: pointer;
  box-shadow: none;
  outline: 0;
  text-transform: capitalize;
  transition: all .3s ease-in-out; }
  .btn__group {
    position: relative;
    display: inline-flex;
    vertical-align: middle; }
    .btn__group > .btn:not(:last-child):not(.dropdown-toggle) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0; }
  .btn__block {
    display: block;
    width: 100%; }
  .btn__social {
    margin: 7px 0;
    text-align: center;
    transition: all .3s ease-in-out;
    font-size: 1.35rem;
    padding: 0;
    font-size: 12px; }
    .btn__social:not(:last-child) {
      margin-right: 6px; }
    .btn__social i {
      float: none;
      color: #fff;
      margin-right: 0;
      padding: .5rem .75rem;
      padding: .9rem .65rem;
      border-right: 1px solid;
      transition: all .3s ease-in-out; }
    .btn__social .social__label {
      padding: .9rem .65rem;
      color: #fff; }
  .btn--default {
    color: #fff;
    background-color: #e2e2e2;
    border-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    color: #484848; }
  .btn--primary {
    color: #fff;
    background-color: #a7ddf5;
    border-color: #a7ddf5; }
    .btn--primary:hover {
      background-color: #6fc1e6; }
  .btn--round {
    border-radius: .25rem; }
    .btn--round i {
      border-top-left-radius: .25rem;
      border-bottom-left-radius: .25rem; }
  .btn--facebook {
    background-color: #3b5998; }
    .btn--facebook i {
      border-right-color: #314a7e;
      background-color: #314a7e; }
  .btn--twitter {
    background-color: #00aced; }
    .btn--twitter i {
      border-right-color: #0092c9;
      background-color: #0092c9; }
  .btn--googlep {
    background-color: #dd4b39; }
    .btn--googlep i {
      border-right-color: #cf3624;
      background-color: #cf3624; }

/* ====================
// card
// ==================== */
.card {
  width: 100%;
  display: inline-flex;
  display: flex;
  display: inline-flex;
  background-color: white;
  margin: 3.5rem 0;
  border-bottom: 1px solid #e2e2e2; }
  .card:hover {
    cursor: pointer;
    background-color: #f1f1f1; }
    .card:hover .card__title {
      text-decoration: underline; }
  .card__img {
    width: 100px;
    min-width: 100px; }
  .card__body {
    padding-left: 10px; }
  .card__title {
    font-size: 1.7rem; }
  .card__text {
    font-size: .85rem; }

label {
  display: inline-block;
  margin-bottom: 0;
  color: #131313;
  padding-top: calc(0.75rem - 1px * 2);
  font-size: 1.35rem; }

.form__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: .875rem; }

.form__group {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
  margin-bottom: 29px; }

.form__row {
  display: flex;
  justify-content: center;
  display: flex;
  flex-wrap: wrap; }

.form__err {
  position: absolute;
  top: 100%;
  font-size: .5rem;
  color: #f24; }

.form__check {
  display: inline-block;
  line-height: 100%; }
  .form__check + .text--primary {
    position: absolute;
    right: 0;
    display: inline-block; }

.form__control {
  display: block;
  width: 100%;
  padding: 10px 15px;
  padding: .375rem .75rem;
  padding-left: 0;
  font-size: 16px;
  line-height: 2;
  color: #333;
  background-color: #f9f9f9;
  background-clip: padding-box;
  border: none;
  border-bottom: 1px solid #ced4da;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
  .form__control::placeholder {
    color: #ced4da; }
  .form__control:focus ~ .control--animation:before {
    width: 50%; }
  .form__control:focus ~ .control--animation:after {
    width: 50%; }
  .form__control:focus::placeholder {
    color: #ced4da; }

.input__group {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%; }

.input__icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #696969; }
  .input__icon i {
    font-size: 2rem; }

.input .control--animation {
  position: absolute;
  bottom: 0;
  bottom: 2px; }
  .input .control--animation:before, .input .control--animation:after {
    height: 2px;
    background-color: #c5c5c5;
    background-color: #afd5e6; }

input.form__control--style {
  height: 39px;
  padding: 0;
  padding-left: 13px;
  border: 1px solid rgba(20, 157, 218, 0.8);
  border-bottom: 0px;
  background-color: rgba(20, 157, 218, 0.8);
  color: #fff;
  background-color: #e2e2e2;
  background-color: #eee;
  color: #2d2d2d;
  font-size: 1.5rem; }
  input.form__control--style[type="search"] {
    box-sizing: border-box;
    border: none; }
  input.form__control--style::placeholder {
    color: #222;
    color: rgba(0, 0, 0, 0.4); }
  input.form__control--style:focus {
    border: 1px solid rgba(20, 157, 218, 0.8);
    border-bottom: 0px;
    background-color: #fff;
    color: #a7ddf5; }
    input.form__control--style:focus::placeholder {
      color: #a7ddf5;
      font-weight: bold; }
    input.form__control--style:focus ~ .input__group__btn button {
      color: #a7ddf5; }
  input.form__control--style ~ .input__group__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px 7px; }
    input.form__control--style ~ .input__group__btn:hover button {
      color: rgba(203, 253, 255, 0.71); }
    input.form__control--style ~ .input__group__btn button {
      height: 38px;
      border: none;
      background: transparent;
      color: #b9b9b9;
      font-size: 1.2rem;
      font-size: 1.17rem; }

/* ====================
// hamburger
// ==================== */
.hamburger {
  transition: all .3s ease-in-out;
  width: 35px;
  height: 35px;
  padding: 0;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  line-height: 35px; }
  .hamburger.is--active .hamburger__inner {
    transform: translate3d(0, -5px, 0) rotate(-45deg); }
  .hamburger.is--active .hamburger__inner:before {
    top: 0;
    transform: rotate(-90deg); }
  .hamburger.is--active .hamburger__inner:after {
    top: 0;
    opacity: 0; }
  .hamburger__box {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 12px; }
  .hamburger__inner {
    width: 100%;
    height: 2px;
    background-color: #484848;
    position: absolute;
    bottom: 0;
    transition: all .12s; }
    .hamburger__inner:hover {
      background-color: #ecf8fd; }
    .hamburger__inner:before, .hamburger__inner:after {
      position: absolute;
      display: block;
      content: '';
      width: 100%;
      height: 2px;
      background-color: #484848;
      transition: all .12s; }
    .hamburger__inner:before {
      top: -10px; }
    .hamburger__inner:after {
      bottom: 5px; }

/* ====================
// icon
// ==================== */
/* ====================
// menu
// ==================== */
.menu {
  position: relative; }
  .menu label {
    display: none; }
  .menu > .menu__item {
    border-bottom: 1px solid #e2e2e2; }
  .menu__item .add-box li {
    margin: 5px 0;
    padding: 0 10px;
    font-size: 1.3rem; }
    .menu__item .add-box li:hover {
      background-color: #a5a5a5;
      background-color: #FFC107;
      color: #fff; }
    .menu__item .add-box li i {
      font-size: 15px; }
  .menu__item li {
    padding: 0px 0px 0px 30px; }
  .menu__item i {
    margin-right: 10px;
    font-size: 17px; }
  .menu__link {
    position: relative;
    padding: .3rem 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
    color: #5d5d5d;
    box-sizing: border-box;
    transition: all .3s ease-in-out; }
    .menu__link:hover {
      color: #fff;
      background-color: #1a1c1f; }
      .menu__link:hover .add-box li {
        color: #222; }

/* ====================
// modal
// ==================== */
.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: rgba(2, 11, 72, 0.46); }

/* ====================
// scrollbar
// ==================== */
/* width */
.sidebar::-webkit-scrollbar {
  width: 7px; }

/* Track */
.sidebar::-webkit-scrollbar-track {
  background: #fff; }

/* Handle */
.sidebar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px; }

/* Handle on hover */
.sidebar::-webkit-scrollbar-thumb:hover {
  background: #888; }

/* ====================
// search
// ==================== */
/* =========================================
// 9.0 Layout 全局布局
// ========================================= */
/* ====================
// wrapper
// ==================== */
.wrapper {
  height: 100vh; }
  .wrapper--home {
    background-image: linear-gradient(to right bottom, rgba(255, 235, 59, 0.25), rgba(255, 193, 7, 0)), url(../../src/images/dancing_bear.gif);
    background-size: cover;
    animation: change-bg 8s ease-out .75s;
    animation-iteration-count: infinite; }
  .wrapper--register {
    background-image: linear-gradient(to right bottom, rgba(4, 83, 130, 0.6), rgba(59, 184, 193, 0.58)), url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg);
    background-size: cover; }
  .wrapper--login {
    background-image: linear-gradient(to right bottom, rgba(20, 157, 218, 0.8), rgba(203, 253, 255, 0.71)), url(https://cdn.pixabay.com/photo/2016/08/09/21/54/yellowstone-national-park-1581879_960_720.jpg);
    background-size: cover; }

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: inherit;
  overflow: auto;
  display: flex; }

.sidebar {
  flex: 0 0 55px;
  overflow-y: auto;
  box-shadow: 7px 20px 85px -3px rgba(119, 119, 119, 0.75);
  box-shadow: 7px 20px 85px -3px rgba(125, 125, 125, 0.29);
  transition: all .2s; }
  .sidebar.is--open {
    flex: 0 0 350px; }

.content {
  flex: 1;
  overflow-y: auto; }
  .content--page {
    padding: 30px 50px; }

.page {
  position: relative; }

.page__content {
  background-color: yellow;
  height: 100vh; }

/* ====================
// header
// ==================== */
/* ====================
// footer
// ==================== */
/* ====================
// navigation
// ==================== */
/* ====================
// side-bar
// ==================== */
/* ====================
// Sidebar
// ==================== */
.sidebar__header {
  position: relative; }

.sidebar .form__group {
  margin-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 289px;
  display: inline-block; }
  .sidebar .form__group label {
    display: none; }
  .sidebar .form__group input[type="search"] {
    padding-left: 13px; }
  .sidebar .form__group.is--active {
    width: 29px;
    display: none; }

.sidebar .input__icon {
  padding: 5px 9px;
  cursor: pointer; }
  .sidebar .input__icon:hover {
    color: #76cbf1; }

.sidebar__profile {
  display: flex;
  align-items: center;
  padding: 25px 12px;
  transition: all .2s; }
  .sidebar__profile.is--active {
    transform: translateX(-300px); }

.sidebar__nav.is--active {
  transform: translateX(-300px); }

.profile__img img {
  max-height: 60px;
  border-radius: 50%; }

.profile__content {
  padding: 9px; }

/* ====================
// top
// ==================== */
iframe {
  width: 100%;
  height: 100vh; }

/* =========================================
// 10.0 Pages 個別頁面
// ========================================= */
/* ====================
// home
// ==================== */
/* ====================
// login
// ==================== */
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 640px;
  height: 595px;
  background-color: #fff;
  box-shadow: 7px 20px 85px -3px rgba(8, 40, 74, 0.88); }
  .login .pull-left {
    box-sizing: border-box;
    width: 40%;
    height: 100%;
    padding: 20px 40px; }
  .login .pull-right {
    box-sizing: border-box;
    width: 60%;
    height: 100%;
    padding: 20px 40px; }
  .login__left {
    color: #fff;
    background-image: linear-gradient(to right bottom, rgba(20, 157, 218, 0.8), rgba(203, 253, 255, 0.71)), url(../../src/images/login-bg.jpg);
    background-size: cover; }

.login.register {
  height: 707px; }
  .login.register .login__left {
    background-image: linear-gradient(to right bottom, #CDDC39, rgba(76, 175, 80, 0.77)), url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg); }

.login.forgot-password {
  height: 450px; }
  .login.forgot-password .login__left {
    background-image: linear-gradient(to right bottom, #6a4ca0, rgba(212, 212, 212, 0.77)), url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg); }

/* =========================================
// 11.0 Custom styles 客製化設定
// ========================================= */
/* =========================================
// 12.0 scheme 面板設定
// ========================================= */
