/* ====================
// login
// ==================== */

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 640px;
    height: 595px;
	background-color: #fff;
	box-shadow: 7px 20px 85px -3px rgba(8, 40, 74, 0.88);

	.pull-left {
		box-sizing: border-box;
		width: 40%;	
    	height: 100%;
		padding: 20px 40px;
	}

	.pull-right {
		box-sizing: border-box;
		width: 60%;		
     	height: 100%;
		padding: 20px 40px;
	}

	&__left {
		color: #fff; 
		// background-color: #f24;
		// background-image: url(https://cdn.pixabay.com/photo/2018/08/12/15/29/hintersee-3601004_960_720.jpg);
		// background-image: url(https://cdn.pixabay.com/photo/2016/08/09/21/54/yellowstone-national-park-1581879_960_720.jpg);
	    background-image: linear-gradient(to right bottom, rgba(20, 157, 218, 0.8), rgba(203, 253, 255, 0.71)), url(../../src/images/login-bg.jpg);
	    background-size: cover;
	}

	&__right {
		
	}
}
.login.register {
	height: 707px;
	.login__left {
		background-image: linear-gradient(to right bottom, #CDDC39, rgba(76, 175, 80, 0.77)),  url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg);
	}
}

.login.forgot-password {
	height: 450px;
	.login__left {
		background-image: linear-gradient(to right bottom, #6a4ca0, rgba(212, 212, 212, 0.77)),   url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg);
	}
}
