@mixin badge_link($bg-hover) {
	&:hover, &:focus {
	background-color: $bg-hover;
	color: $badge-font-color;
	}//hover, focus
	&.badge--outline {
		&:hover, &:focus {
		background-color: $bg-hover;
		color: $badge-font-color;
		}//hover, focus
	}//badge--outline
}//badge_link

