@mixin btn_social_label($btn-bg, $btn-hover-bg) {
background-color: $btn-bg;
	i {
	border-right-color: darken($btn-bg, 7%);
	background-color: darken($btn-bg, 7%);
	}
	&:hover, &:focus {
	background-color: $btn-hover-bg;
		i {
		background-color: darken($btn-hover-bg, 7%);
		border-right-color: darken($btn-hover-bg, 7%);
		}
	}
}

@mixin button-variants($color, $background, $border) {
$active-background: darken($background, 10%);
$active-border: darken($border, 12%);
color: $color;
background-color: $background;
border-color: $border;
	&.disabled,
	&:disabled {
	background-color: $background;
	border-color: $border;
	}
	&:active,
	&.active,
	.show > &.dropdown-toggle {
	color: $color;
	background-color: $active-background;
	background-image: none;
	border-color: $active-border;
	}
}