//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Header Bg

//--------------------------------------------//
// 1.0 Header Bg
//--------------------------------------------//
@mixin header_bg($bg) {
	&.header, &.header--v2 {
	background: $bg;
	border-bottom: 0px;
		.brand__name {
		color: $white;
		}
		.header__left {
		border-bottom: 0px;
			.header__btn--toggler {
			color: $white;
				&:hover {
				color: darken($white, 8%);
				}
			}
		}
		.header__toggle {
		border-bottom: 0px;
			.nav__item .nav__link {
				@include media-breakpoint-down(sm) {
					&:hover {
					color: $bg;
					}
				}
			}
		}
		.notifications {
			@include media-breakpoint-up(md) {
				.nav__link:hover {
				color: darken($white, 8%);
					i {
					color: darken($white, 8%);
					}
				}
				&.show .nav__link {
				color: darken($white, 8%);
				}
			}
		}
		.header__brand .brand__link {
		color: $white;
		}
		@include media-breakpoint-up(md) {
			.header__btn--toggler, .header__toggle .content__right .btn, .notifications__dropdown {
			color: $white;
				&:hover {
				color: darken($white, 8%);
				}
			}
		}
		.hamburger {
			&:hover {
				.hamburger__box {
					.hamburger__inner {
						&, &:after, &:before {
						background-color: darken($white, 8%);
						@include transition($fast);
						}
					}
				}
			}
			&__inner {
				&,
				&:before,
				&:after {
				background-color: $white;
				}
			}
		}
		.status.status--pulse {
		border-color: darken($white, 5%);
			&:before {
			border-color: rgba(255,255,255,0.5);
			}
		}
		.header__toggle .content__left .btn__screen i {
		color: $white;
		@include transition($fast);
			&:hover {
			color: darken($white, 8%);
			}		
		}
		.mega__toggle {
		color: $white;
		@include transition($fast);
			&:hover {
			color: darken($white, 8%);
			}
			&.mega--open {
			color: darken($white, 8%);
			}
		}
	}
}