@mixin list__group__item--variant($state, $background, $color) {
	.list__group__item--#{$state} {
	color: $color;
	background-color: $background;
	}
	a.list__group__item--#{$state},
	button.list__group__item--#{$state} {
	color: $color;
		@include hover-focus {
		color: $color;
		background-color: darken($background, 5%);
		}
		&.active {
		color: #fff;
		background-color: $color;
		border-color: $color;
		}
	}
}