@mixin sidebar_bg($bg, $darken-bg, $color) {
	&.sidebar__left {
	background-color: $bg;
		.sidebar__header{
		color: $color;
		}
		.sidebar__item .sidebar__link {
		color: $color;
			&.active {
			color: $color;
			background-color: $darken-bg;
			}
			&:focus {
			color: $color;
			}
			&:hover {
			color: $color;
			background-color: $darken-bg;
			}
		}
		.sidebar__dropdown {
			&.active {
				.dropdown--collapse {
				color: $color;
				}
				.sidebar__link {
				background-color: $darken-bg;
				}
			}
		}
	}
	.sidebar--bg {
	background-color: $bg;
	}
	&.sidebar--collapse {
		.sidebar__item {
			.sidebar__link {
			background-color: $bg;
				.link__name {
				background-color: $darken-bg;
				}
			}
			.sidebar__submenu {
				.sidebar__item {
					.sidebar__link {
					background-color: $darken-bg;
					}
				}
			}
			&:hover, &.active {
				.sidebar__link {
				background-color: $darken-bg;
				}
			}
		}
	}
	.profile__toggle {
	background-color: $bg;
		.profile__list {
			.list__item--inline {
			border-right: $border-solid darken($bg, 5%);
			border-bottom: $border-solid darken($bg, 5%);
				.list__link {
				color: $color;
					&.active {
					color: $color;
					}
					&:focus {
					color: $color;
					}
					&:hover {
					color: $color;
					background-color: $darken-bg;
					}
				}
			}
		}
	}
}