@mixin social_bg($bg, $content) {
background-color: $bg;
	.carousel__inner {	
		&:after {
		content: $content;
		position: absolute;
		font-family: FontAwesome;
		font-size: 2.25rem;
		top: -0.75rem;
		right: 0rem;
		padding: 0.5rem;
		color: darken($bg, 8%);
		z-index: 0;
		}
	}
	.carousel__caption {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	}
}

//--------------------------------------------//
// 2.0 Social Widget Background 2
//--------------------------------------------//
@mixin social_bg2($bg) {
background-color: $bg;
}