@charset "UTF-8";
/*--------------------------------------------
Project    : phy
Version    : 1.0.0
Author     : phy
e-mail     : phys@gmail.com
Last change: 26/08/2018
----------------------------------------------*/
/* =========================================
// 1.0 functions 方程式
// ========================================= */
/* =========================================
// 2.0 variables 變數
// ========================================= */
/* =========================================
// 3.0 mixins 
// ========================================= */
/* =========================================
// 4.0 reset 重置 // 記的放最後
// ========================================= */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1;
  color: #000; }

body {
  font-family: "\5FAE\8EDF\6B63\9ED1\9AD4", "Apple LiGothic Medium","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,pingfang-tc,aktiv-grotesk,source-han-sans-traditional,Segoe UI,Roboto,Helvetica Neue,Microsoft JhengHei,Microsoft YaHei,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.8;
  color: #000; }

a {
  background-color: transparent;
  text-decoration: none;
  color: #999;
  outline: none;
  cursor: pointer; }
  a:active {
    background-color: transparent;
    outline: 0 none;
    color: #999; }
  a:hover {
    color: #737373;
    outline: 0 none; }
  a:focus {
    outline: none; }

ol, ul {
  list-style: none;
  list-style-image: none; }

audio, canvas, video, progress {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

[draggable] {
  cursor: move; }

abbr[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help; }

b, strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

img {
  border: 0 none;
  width: auto\9;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible; }

mark {
  background-color: #ff5a92;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  overflow: auto; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

small {
  font-size: 85.7%; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

svg:not(:root) {
  overflow: hidden; }

legend {
  border: 0 none;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button, input, select, textarea {
  font-family: inherit;
  font: 12px/1 "\5FAE\8EDF\6B63\9ED1\9AD4", "Apple LiGothic Medium","Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
  outline: none; }

button, input {
  line-height: normal; }

button, select {
  text-transform: none; }

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled] {
  cursor: default; }

input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

label {
  cursor: pointer; }

select[size], select[multiple], select[size][multiple] {
  border: 1px solid #AAA;
  padding: 0; }

select:disabled option:checked, option:disabled:checked {
  color: #D2D2D2; }

/* ========================
 表格
 ========================= */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  text-align: left; }

table th, table td {
  padding: 8px 10px; }

table th {
  font-weight: inherit; }

/* =========================================
// 5.0 setup 設定 - 動畫、基本、字型、通用
// ========================================= */
/* ====================
// 5.1 animations
// ==================== */
/* ====================
// 5.2 base
// ==================== */
/* ====================
// 5.3 typography
// ==================== */
/* ====================
// 5.4 utilities
// ==================== */
.w--100 {
  width: 100%; }

.display--block {
  display: block; }

.hide {
  display: none; }

.card--of .card__body {
  overflow: visible; }

/* =========================================
// 6.0 vendors 外部引入使用
// ========================================= */
/* =========================================
// 7.0 Grid 格線
// ========================================= */
/* =========================================
// 8.0 components 組件、獨立使用
// ========================================= */
/* ====================
// button
// ==================== */
/* ====================
// hamburger
// ==================== */
/* ====================
// icon
// ==================== */
/* ====================
// search
// ==================== */
/* =========================================
// 9.0 Layout 全局布局
// ========================================= */
/* ====================
// header
// ==================== */
/* ====================
// footer
// ==================== */
/* ====================
// navigation
// ==================== */
/* ====================
// side-bar
// ==================== */
/* ====================
// Sidebar
// ==================== */
/* ====================
// top
// ==================== */
/* =========================================
// 10.0 Pages 個別頁面
// ========================================= */
/* ====================
// home
// ==================== */
/* =========================================
// 11.0 Custom styles 客製化設定
// ========================================= */
/* =========================================
// 12.0 scheme 面板設定
// ========================================= */


/*# sourceMappingURL=index.css.map*/