/* ====================
// grid 格線
// ==================== */

// section {
//     border: 1px solid;
// }

   // .row:last-child()
.row {
    // width: 1140px;
    // max-width: 114rem;
    max-width: $grid-width;
    // background-color: rgba(161, 243, 146, 0.8);
    margin: 0 auto; //置中

    // margin-bottom: $gutter-vertical;
    &:not(:last-child) {
        margin-bottom: $gutter-vertical;
    }
    // 清除浮動
    @include clearfix;

    // 屬性選擇器，^=表示以什麼開頭
    [class^='col-'] {
        // background-color: red;
        float: left;

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    // ===================== 2欄 =====================
    // 減掉1個間隔，除以2
    .col-1-of-2 {
        width: calc((100% - #{$gutter-horizontal}) / 2);
        // background-color: red;
        // float: left; 
    }

    // ===================== 3欄 =====================
    // 減掉2個間隔，除以3
    .col-1-of-3 {
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        // background-color: red;
    }

    // 減掉2個間隔，除以3，乘以2，加1個間隔
    .col-2-of-3 {
        width: calc(2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal});
        background-color: red;
    }

    // ===================== 4欄 =====================
    // 減掉3個間隔，除以4
    .col-1-of-4 {
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
        // background-color: red;
    }

    // 減掉3個間隔，除以4，乘以2，加1個間隔    
    .col-2-of-4 {
        width: calc(2 * ((100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal});
        background-color: red;
    }

    // 減掉3個間隔，除以4，乘以3，加2個間隔    
    .col-3-of-4 {
        width: calc(3 * ((100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal});
        background-color: red;
    }

    // ===================== 5欄 =====================
    // 減掉4個間隔，除以5
    .col-1-of-5 {
        width: calc((100% - 4 * #{$gutter-horizontal}) / 5);
        // background-color: red;
    }

    // 減掉4個間隔，除以5，乘以2，加1個間隔    
    .col-2-of-5 {
        width: calc(2 * ((100% - 4 * #{$gutter-horizontal}) / 5) + #{$gutter-horizontal});
        background-color: red;
    }

    // 減掉4個間隔，除以5，乘以3，加2個間隔    
    .col-3-of-5 {
        width: calc(3 * ((100% - 4 * #{$gutter-horizontal}) / 5) + 2 * #{$gutter-horizontal});
        background-color: red;
    }

    // 減掉4個間隔，除以5，乘以4，加3個間隔    
    .col-4-of-5 {
        width: calc(4 * ((100% - 4 * #{$gutter-horizontal}) / 5) + 3 * #{$gutter-horizontal});
        background-color: red;
    }



    // ===================== 6欄 =====================
    // 減掉5個間隔，除以6
    .col-1-of-6 {
        width: calc((100% - 5 * #{$gutter-horizontal}) / 6);
        float: left; 
    }

    // 減掉5個間隔，除以6，乘以2，加1個間隔    
    .col-2-of-6 {
        width: calc(2 * ((100% - 5 * #{$gutter-horizontal}) / 6) + #{$gutter-horizontal});
    }

    // 減掉5個間隔，除以6，乘以3，加2個間隔    
    .col-3-of-6 {
        width: calc(3 * ((100% - 5 * #{$gutter-horizontal}) / 6) + 2 * #{$gutter-horizontal});
    }

    // 減掉5個間隔，除以6，乘以4，加3個間隔    
    .col-4-of-6 {
        width: calc(4 * ((100% - 5 * #{$gutter-horizontal}) / 6) + 3 * #{$gutter-horizontal});
    }

    // 減掉5個間隔，除以6，乘以4，加4個間隔    
    .col-5-of-6 {
        width: calc(5 * ((100% - 5 * #{$gutter-horizontal}) / 6) + 4 * #{$gutter-horizontal});
    }

}