/* ====================
// 5.4 typography-bs
// ==================== */

// -------------------------變數---------------------------------//
$primary: #3f51b5 !default;
$gray-light: #e2e2e2 !default;
$body-color:    #484848 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$black: #000 !default;
$brand-primary: $primary !default;

$green: #4caf50 !default;
$blue: #2196f3 !default;
$orange: #ff9800 !default;
$red: #f44336 !default;

$brand-success: $green !default;
$brand-info: $blue !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
// $brand-inverse: $gray-dark !default;
// $brand-gradient: linear-gradient(-90deg, $primary, #2f2c87) !default;

$cyan: #00bcd4 !default;

//--------------------------------------------//
// 10.0 Spacing 變數
//--------------------------------------------//
$spacer: 1rem !default;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
), $sizes);
// stylelint-enable

// -------------------------Mixin---------------------------------//
// BS-Mixin-Text truncate
// Requires inline-block or block for proper styling
@mixin text-truncate() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
// BS-Mixin-
// Typography
@mixin text-emphasis-variant($parent, $color) {
  #{$parent} {
    color: $color !important;
  }
  a#{$parent} {
    @include hover-focus {
      color: darken($color, 10%) !important;
    }
  }
}
// Lists

// Unstyled keeps list items block level, just removes default browser padding and list-style
@mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}


//--------------------------------------------//
// 14.0 Fonts 變數
//--------------------------------------------//
// 字型
$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;
// 字體大小
$font-size-base: 0.875rem !default; // Assumes the browser default, typically `14px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;
// 字體輕重
$font-weight-normal: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
// 字體大小-標題
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
/*  Font Size
	8px = 0.5rem
	9px = 0.5625rem
	10px = 0.625rem
	11px = 0.6875rem
	12px = 0.75rem
	13px = 0.8125rem
	14px = 0.875rem
	15px = 0.9375rem
	16px = 1rem (base)
	18px = 1.125rem
	20px = 1.25rem
	22px = 1.375rem
	24px = 1.5rem
	26px = 1.625rem
	28px = 1.75rem
	30px = 1.875rem
	32px = 2rem
	34px = 2.125rem
	36px = 2.25rem
	38px = 2.375rem
	40px = 2.5rem 
*/

//--------------------------------------------//
// 15.0 Headings
//--------------------------------------------//
// 標題間距
$headings-margin-bottom: 0 !default;
$headings-font-family: inherit !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.5 !default;
$headings-color: inherit !default;

$display1-size: 4.25rem !default;
$display2-size: 3.75rem !default;
$display3-size: 3.25rem !default;
$display4-size: 2.75rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;

//--------------------------------------------//
// 16.0 Other Typography
//--------------------------------------------//
// 首行大小
$lead-font-size: 1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: #6e6e6e !default;
$text-primary: $primary !default;

$abbr-border-color: $gray-light !default;

$border-width: 1px;
// 引言設定
$blockquote-small-color: lighten($body-color, 15%) !default;
$blockquote-font-size: ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;
$blockquote-border-width: .25rem !default;
// 水平線
$hr-border-color: rgba($black,.1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: $font-weight-bold !default;

$kbd-box-shadow: inset 0 -.1rem 0 rgba($black,.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 5px !default;

$close-font-size: $font-size-base * 1.5 !default;
$close-font-weight: $font-weight-bold !default;
$close-color: $black !default;
$close-text-shadow: 0 !default;

$code-font-size: 90% !default;
$code-padding-x: .4rem !default;
$code-padding-y: .2rem !default;
$code-color: #bd4147 !default;
$code-bg: $gray-lightest !default;

// ==============================
// Headings 標題字體.大小.顏色.輕重
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: $headings-margin-bottom;
	font-family: $headings-font-family;
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: $headings-color;
}//headings

h1, .h1 { font-size: $font-size-h1; }
h2, .h2 { font-size: $font-size-h2; }
h3, .h3 { font-size: $font-size-h3; }
h4, .h4 { font-size: $font-size-h4; }
h5, .h5 { font-size: $font-size-h5; }
h6, .h6 { font-size: $font-size-h6; }

p {
	margin-bottom: 1rem;
// letter-spacing: 0.5px;
}//p

.lead {
	font-size: $lead-font-size;
	font-weight: $lead-font-weight;
}//lead

// Type display classes
.display--1 {
	font-size: $display1-size;
	font-weight: $display1-weight;
	line-height: $display-line-height;
}//display--1

.display--2 {
	font-size: $display2-size;
	font-weight: $display2-weight;
	line-height: $display-line-height;
}//display--2

.display--3 {
	font-size: $display3-size;
	font-weight: $display3-weight;
	line-height: $display-line-height;
}//display--3

.display--4 {
	font-size: $display4-size;
	font-weight: $display4-weight;
	line-height: $display-line-height;
}//display--4

.text--justify  { 
	text-align: justify; 
}//text--justify

.text--nowrap   { 
	white-space: nowrap; 
}//text--nowrap

.text--truncate { 
	@include text-truncate; 
}//text--nowrap 

// Transformation
.text--lowercase  { 
	text-transform: lowercase; 
}//text--lowercase

.text--uppercase  { 
	text-transform: uppercase; 
}//text--uppercase

.text--capitalize { 
	text-transform: capitalize; 
}//text--capitalize

.font--weight--light { 
	font-weight: $font-weight-light; 
}//font--weight--light

.font--weight--normal { 
	font-weight: $font-weight-normal; 
}//font--weight--normal

.font--weight--semi--bold { 
	font-weight: $font-weight-semi-bold; 
}//font--weight--semi--bold

.font--weight--bold { 
	font-weight: $font-weight-bold; 
}//font--weight--bold

.font--italic { 
	font-style: italic; 
}//font--italic

// Contextual colors
.text--white {
	color: #fff;
}//text--white

@include text-emphasis-variant('.text--muted', $text-muted);

@include text-emphasis-variant('.text--primary', $brand-primary);

@include text-emphasis-variant('.text--success', $brand-success);

@include text-emphasis-variant('.text--info', $brand-info);

@include text-emphasis-variant('.text--warning', $brand-warning);

@include text-emphasis-variant('.text--danger', $brand-danger);

.text--hide {
	display: none;
}//text--hide

// Horizontal rules
hr {
	margin-top: 1rem;
	margin-bottom: 1rem;
	border: 0;
	border-top: $hr-border-width solid $hr-border-color;
}//hr

// Lists
.list {
	padding-left: 1rem;
	margin-bottom: 0px;
	.list {
	padding-left: 1.5rem;
	}//list
	&__item {
	padding: 0.15rem 0rem;
	}//list__item
}//list

.list--unstyled {
	@include list-unstyled;
	margin-bottom: 0;
	.list {
		padding-left: 1.5rem;
	}//list
	.list__item {
		padding: 0.15rem 0rem;
	}//list__item
}//list--unstyled

.list--inline {
	@include list-unstyled;
}//list--inline

.list__item--inline {
	display: inline-block;
	&:not(:last-child) {
		margin-right: $list-inline-padding;
	}//
}//list__item--inline

code {
	background-color: $gray-lighter;
	padding: 0rem .25rem;
}//code

// Blockquotes
.blockquote {
	padding: ($spacer / 2) $spacer;
	margin-bottom: $spacer;
	margin-top: $spacer;
	font-size: $blockquote-font-size;
	border-left: $blockquote-border-width solid $blockquote-border-color;
	p {
		margin-bottom: 0px;
	}//p
}//blockquote

.blockquote--footer {
	display: block;
	font-size: 80%;
	color: $blockquote-small-color;
	&::before {
		content: "\2014 \00A0";
	}//before
}//blockqoute--footer

.blockquote--reverse {
	padding-right: $spacer;
	padding-left: 0;
	text-align: right;
	border-right: $blockquote-border-width solid $blockquote-border-color;
	border-left: 0;
	.blockquote-footer {
		&::before {
			content: "";
		}//before
		&::after {
			content: "\00A0 \2014"; // nbsp, em dash
		}//after
	}//blockquote-footer
}//blockquote--reverse
