/* ====================
// 5.3 typography
// ==================== */

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
}

p {
	font-size: .8rem;
}

h2 {
	font-size: 3rem;
}

.text__span {
	font-size: 0.8rem;
}

.text--primary {
	color: #3f51b5;
}