/* ====================
// 5.4 utilities-bs
// ==================== */

.only--mobile {
	display: flex;
	align-items: center;
	@include media-breakpoint-up(md) {
		display: none;
	}//sm down breakpoint
}//only--mobile


.sr--only {
	@include sr-only();
}//sr--only
