/* ====================
// add-box
// ==================== */
.add-box {
	z-index: 99999;
    position: absolute;
    padding: 15px 5px;
    background-color: #fff;
    right: 17px;
    top: 1rem;
    border: 1px solid #c3c3c3;
    box-shadow: 5px 5px 36px -5px rgba(0,0,0,.5);
    font-size: 1.5rem;

    ul {
    	width: 100%;
    }

    &__item {
    	margin: 0;
    	padding: 0;
    }
}