/* ====================
// button
// ==================== */

.btn {
    position: relative;
    padding: .5rem 1rem;
    padding: 1rem;

    background-color: transparent;
    border: 0;
    border-radius: 1.5px;  

    line-height: 1.25;
    font-size: .875rem;
    font-size: 1.6rem;

    cursor: pointer;
    box-shadow: none;
    outline: 0;
    text-transform: capitalize;
    transition: all .3s ease-in-out;
	
	// 群組按鈕
    &__group {
	    position: relative;
    	display: inline-flex;
    	vertical-align: middle;

    	& > .btn:not(:last-child):not(.dropdown-toggle) {
		    border-top-right-radius: 0;
    		border-bottom-right-radius: 0;
    	}

    	.btn+.btn,
		.btn+.btn-group {
			
    	}
    }

    &__block {
    	display: block;
    	width: 100%;
    }

	&__social {
		margin: 7px 0;	    
	    text-align: center;
	    transition: all .3s ease-in-out;
   	 	font-size: 1.35rem;
   	 	padding: 0;
	    font-size: 12px;
	    
	    // margin-right: 4px;
		&:not(:last-child){
			margin-right: 6px;
		}

		i {
		    float: none;
		    color: #fff;
		    margin-right: 0;
		    padding: .5rem .75rem;
		    padding: .9rem .65rem;
		    border-right: 1px solid;
		    transition: all .3s ease-in-out;

		}
		
		.social__label {
		    padding: .9rem .65rem;  // 同i
			color: #fff;
		}

	}

	&--default {
	    color: #fff;
	    background-color: #e2e2e2;
	    border-color: #e2e2e2;
	    border: 1px solid #e2e2e2;
	    color: #484848;
	}

	&--primary {
		color: #fff;
    	background-color: $primary;
    	border-color: $primary;
    	&:hover {
    		background-color: #6fc1e6;
    	}
	}	

	&--round {
		border-radius: .25rem;
		i {
		    border-top-left-radius: .25rem;
			border-bottom-left-radius: .25rem;
		}
	}

	&--facebook {
		background-color: #3b5998;
		i {
	    	border-right-color: #314a7e;
    		background-color: #314a7e;
		}
	}

	&--twitter {
	    background-color: #00aced;
	    i {
	    	// border-right-color: #00aced;
    		// background-color: #00aced;
    		border-right-color: #0092c9;
    		background-color: #0092c9;
	    }
	}	

	&--googlep {
		background-color: #dd4b39;
		i {
	    	// border-right-color: #dd4b39;
    		// background-color: #dd4b39;
    		border-right-color: #cf3624;
    		background-color: #cf3624;

	    }
	}
}
