/* ====================
// card
// ==================== */
.card-group {
	// padding: 0 30px;
}

.card {
	width: 100%;
	display: inline-flex;
	display: flex;
	// justify-content: flex-start;
	// align-items: stretch;
    display: inline-flex;
    background-color: white;
    margin: 3.5rem 0;
    border-bottom: 1px solid #e2e2e2;
	
    &:hover {
    	cursor: pointer;
		background-color: #f1f1f1;

		.card__title {
			text-decoration: underline;
		}
    }

	&__img {
		width: 100px;
	    min-width: 100px;

		img {
			
		}
	}

	&__body {
		padding-left: 10px;
	}

	&__title {
		font-size: 1.7rem;
	}

	&__text {
		font-size: .85rem;
	}
}