$input-color: #333;
$input-bg: #f9f9f9;
$input-border-width: 1px;
$input-border-color: #ced4da;

label {
    display: inline-block;
    // margin-bottom: .5rem;
    margin-bottom: 0;
    color: #131313;
    padding-top: calc(0.75rem - 1px * 2);
    font-size: 1.35rem;
}

.form {

    &__header {

    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: .875rem;
    }

    &__group {
        width: 100%;
        position: relative;
        margin-bottom: 10px;
        margin-bottom: 29px;
    }
    
    &__row {
        display: flex;
        justify-content: center;

        display: flex;
        flex-wrap: wrap;
    }
    &__err {
        position: absolute;
        top: 100%;
        font-size: .5rem;
        color: #f24;
    }
    &__check {
        display: inline-block;
        line-height: 100%;
        + .text--primary {
            position: absolute;
            right: 0;
            display: inline-block;
        }
    }
}

// input 基本樣式
.form__control {
    display: block;
    width: 100%;
    padding: 10px 15px;
    padding: .375rem .75rem;
    padding-left: 0;

    font-size: $base-font-size;
    line-height: 2;
    color: $input-color;

    background-color: $input-bg;
    background-clip: padding-box;
    border: none;
    border-bottom: $input-border-width solid $input-border-color;

    box-sizing: border-box;
    transition: all .3s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &::placeholder {
        color: #ced4da;
        // font-weight: bold;
    } 

    &:focus {
        
        & ~ .control--animation:before {
            width: 50%;
        }
        & ~ .control--animation:after {
            width: 50%;
        }
        &::placeholder {
            color: #ced4da;
            // font-weight: bold;
        } 
    }
}

// 打包 input的 group 基本設定
.input {

    &__group{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
    }

    // input 輸入框icon
    &__icon {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        color: #696969;
        i {
            font-size: 2rem;
        }
    }
    
    // input 輸入框動畫
    .control--animation {
        position: absolute;
        bottom: 0;
        bottom: 2px;

        &:before, &:after {
            // top: 0px;
            height: 2px;
            background-color: #c5c5c5;
            background-color: #afd5e6;
        }
    }
}




// .input__group--style {
//     position: relative;
//     display: inline-block;
//     width: 100%;
//     height: 100%;
// }

input.form__control--style {
	// position: absolute;
    // width: 100%;
    // height: 100%;    
    height: 39px;
    padding: 0;
    padding-left: 13px;
    border: 1px solid $darken-primary; 
    border-bottom: 0px;
    background-color: $darken-primary;    
    color: #fff;
    background-color: #e2e2e2;
    background-color: #eee;
    color: #2d2d2d;
    font-size: 1.5rem;
    &[type="search"] {
    	box-sizing: border-box;  
		border: none;
    }
    &::placeholder {
    	color: #222;
    	color: rgba(0,0,0,0.4);
    }
    &:focus {
        border: 1px solid $darken-primary; 
        border-bottom: 0px;
    	background-color: $white;
    	color: $primary;

    	&::placeholder {
    		color: $primary;
    		font-weight: bold;
    	}
    	&~.input__group__btn {
	    	button {
	    		color: $primary;
	    	}    	
	    }    
    }
    ~.input__group__btn {
    	position: absolute;
        top: 0;
		right: 0;
	    padding: 0px 7px;
	    &:hover {
	    	button {
	    		color: $lighten-primary;
	    	}	    	
	    }
    	button {
    		height: 38px;
    		border: none;
    		background: transparent;
    		color: #b9b9b9;    		
		    font-size: 1.2rem;
            font-size: 1.17rem;
    	}    	
    }    
}
