/* ====================
// menu
// ==================== */

.menu {
	position: relative;

	label {
		display: none;
	}
	
	> .menu__item {
		border-bottom: 1px solid #e2e2e2;
	}

	&__item {	

		.add-box li {
			margin: 5px 0;
			padding:0 10px;
			font-size: 1.3rem;

			&:hover {
				background-color: #a5a5a5;
			    background-color: #FFC107;
    			color: #fff;
			}

			& i {
		    	font-size: 15px;
			}
		}

		&--header {
		
		}

		li {
		    // margin: 6px 0;
    		padding: 0px 0px 0px 30px;
		}		

		i {
			margin-right: 10px;
		    font-size: 17px;
		}
	}

	&__link {
		position: relative;
        padding: .3rem 1rem;
	    display: flex;
	    align-items: center;	    
	    width: 100%;
	    font-size: 1.4rem;
	    // color: rgba(255,255,255,0.55);
	    color: #5d5d5d;
        box-sizing: border-box;
	    transition: all .3s ease-in-out;
		
		// &:hover:not > .add-box {}
	    &:hover {
	    	color: #fff;
    		background-color: #1a1c1f;
    		.add-box li{
				color: #222;
    		}
	    }
	}
	
	&__dropdown {
		.menu__link {

		}
	}
}

// .input__group > input[type="search"] {
//     background-color: #eeeeee;
//     border-bottom: 1px solid #eeeeee;
//     padding-left: 13px;
// }

// &__item:not(:first-child), &__item:not > .add-box {}
// &__item:not(:first-child) {}
// 
// > .menu__item:not(:first-child) {
// 	border-bottom: 1px solid #e2e2e2;
// }