/* ====================
// modal
// ==================== */

.modal {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);	
    background-color: rgba(2, 11, 72, 0.46);
}