/* ====================
// Sidebar
// ==================== */

$sidebar-width: 330px;
$sidebar-bg: #fff;
$sidebar-link-color: #c5c5c5;

.sidebar {
	&__header {
		position: relative;
	}
	.form__group { 
		margin-bottom: 0; 
		position: relative; 
		display: flex;
     	align-items: center;
 	    width: 289px;
 	    display: inline-block;
 	    & label { display: none; }
 	    & input[type="search"] {
	  		padding-left: 13px;
	  	}
	  	&.is--active {
	  		width: 29px;
	  		display: none;
	  	}
 	}

  	.input__icon {
  		padding: 5px 9px;
  		cursor: pointer;
  		&:hover {
  			color: #76cbf1;
  		}
  	}

	&__profile {
		display: flex;		
    	align-items: center;
	    padding: 25px 12px;
		transition: all .2s;
		
	    &.is--active {
		    transform: translateX(-300px);
	    }
	}

	&__nav {
		&.is--active {
		    transform: translateX(-300px);
	    }
	}
}

.profile {

	&__img {
		img {
			max-height: 60px;
			border-radius: 50%;
		}
	}

	&__content {
		padding: 9px;
	}
}
