/* ====================
// wrapper
// ==================== */

.wrapper {
	height: 100vh;

	&--home {
		background-image: linear-gradient(to right bottom, rgba(255, 235, 59, 0.25), rgba(255, 193, 7, 0)), url(../../src/images/dancing_bear.gif);
		background-size: cover;

		// 動畫背景
		animation: change-bg 8s ease-out .75s;
		animation-iteration-count: infinite;
	}

	&--forgot-password {
		// background-image: linear-gradient(to right bottom, rgba(4, 83, 130, 0.6), rgba(59, 184, 193, 0.58)), url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg);
		// background-size: cover;
	}
	&--register {
		background-image: linear-gradient(to right bottom, rgba(4, 83, 130, 0.6), rgba(59, 184, 193, 0.58)), url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg);
		background-size: cover;
	}
	&--login {
		background-image: linear-gradient(to right bottom, rgba(20, 157, 218, 0.8), rgba(203, 253, 255, 0.71)), url(https://cdn.pixabay.com/photo/2016/08/09/21/54/yellowstone-national-park-1581879_960_720.jpg);
		background-size: cover;
	}
}

.container {
	position: relative;
    margin: 0 auto;
	width: 100%;
	height: inherit; 
	overflow: auto;
	display: flex;
}

.sidebar {
    // position: relative;
	// float: left;
	// width: 350px;
	flex: 0 0 55px;
    overflow-y: auto;
    
	box-shadow: 7px 20px 85px -3px rgba(119, 119, 119, 0.75);
	box-shadow: 7px 20px 85px -3px rgba(125, 125, 125, 0.29);
	transition: all .2s;

	&.is--open {
  		flex: 0 0 350px;
  	}
}


.content {
	// float: right;
	// width: calc( 100% - 350px);	
    // box-sizing: border-box;
	flex: 1;
    overflow-y: auto;

    &--page {
		// background-color: #fff;
		padding: 30px 50px;
    }

    &__header {

    }

}
// .wrapper--forgot-password {
// 	// background-image: linear-gradient(to right bottom, rgba(4, 83, 130, 0.6), rgba(59, 184, 193, 0.58)), url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg);
// 	// background-size: cover;
// }

// .wrapper--register {
// 	background-image: linear-gradient(to right bottom, rgba(4, 83, 130, 0.6), rgba(59, 184, 193, 0.58)), url(https://free.com.tw/blog/wp-content/uploads/2014/05/%E8%80%81%E6%AD%B7%E5%8F%B2%E7%85%A7%E7%89%87high-quality-photo.jpg);
// 	background-size: cover;
// }

// .wrapper--login {
// 	background-image: linear-gradient(to right bottom, rgba(20, 157, 218, 0.8), rgba(203, 253, 255, 0.71)), url(https://cdn.pixabay.com/photo/2016/08/09/21/54/yellowstone-national-park-1581879_960_720.jpg);
// 	background-size: cover;
// }

.page {
    position: relative;
}

.page__content {
	background-color: yellow;
    height: 100vh;
}
