//--------------------------------------------//
// 10.0 Spacing
//--------------------------------------------//
$spacer: 1rem !default;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
), $sizes);
// stylelint-enable


//--------------------------------------------//
// 13.0 Grid
//--------------------------------------------//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

// ==================================================================
@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
      $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
  
      @each $prop, $abbrev in (margin: m, padding: p) {
        @each $size, $length in $spacers {
  
          .#{$abbrev}#{$infix}--#{$size} { #{$prop}: $length !important; }
          .#{$abbrev}t#{$infix}--#{$size},
          .#{$abbrev}y#{$infix}--#{$size} {
            #{$prop}-top: $length !important;
          }
          .#{$abbrev}r#{$infix}--#{$size},
          .#{$abbrev}x#{$infix}--#{$size} {
            #{$prop}-right: $length !important;
          }
          .#{$abbrev}b#{$infix}--#{$size},
          .#{$abbrev}y#{$infix}--#{$size} {
            #{$prop}-bottom: $length !important;
          }
          .#{$abbrev}l#{$infix}--#{$size},
          .#{$abbrev}x#{$infix}--#{$size} {
            #{$prop}-left: $length !important;
          }
        }
      }
  
      // Some special margin utils
      .m#{$infix}--auto { margin: auto !important; }
      .mt#{$infix}--auto,
      .my#{$infix}--auto {
        margin-top: auto !important;
      }
      .mr#{$infix}--auto,
      .mx#{$infix}--auto {
        margin-right: auto !important;
      }
      .mb#{$infix}--auto,
      .my#{$infix}--auto {
        margin-bottom: auto !important;
      }
      .ml#{$infix}--auto,
      .mx#{$infix}--auto {
        margin-left: auto !important;
      }
    }
  }