$enable-transitions: true !default;
$cursor-disabled: not-allowed !default;
//--------------------------------------------//
// 19.0 Transition
//--------------------------------------------//
// $very-slow: all 1s ease-in-out !default;
// $slow: all 0.75s ease-in-out !default;
// $average: all 0.5s ease-in-out !default;
$fast: all 0.3s ease-in-out !default;
// $very-fast: all 0.15s ease-in-out !default;

@mixin transition($transition...) {
  @if $enable-transitions {
    @if length($transition) == 0 {
      transition: $transition-base;
    } @else {
      transition: $transition;
    }
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
