/* ====================
// variables mixin 變數
/ ==================== */

//--------------------------------------------//
// CONTENTS:
//--------------------------------------------//
// 1.0 Core
// 2.0 Colors
// 2.0 Grayscale Colors
// 4.0 Lighten Colors
// 5.0 Darken Colors
// 6.0 Reassign Color Vars to Semantic Color Scheme
// 7.0 Colors Contextual
// 8.0 Social Background Colors
// 9.0 Options
// 10.0 Spacing
// 11.0 Body
// 12.0 Links
// 13.0 Grid
// 14.0 Fonts
// 15.0 Headings
// 16.0 Other Typography
// 17.0 Component Settings
// 18.0 Z-index
// 19.0 Transition
// 20.0 Sidebar
// 21.0 Header
// 22.0 Brand
// 23.0 Alerts 
// 24.0 App 
// 25.0 Authentication 
// 26.0 Badge 
// 27.0 Buttons
// 28.0 Btn Background Color, Font Color & Border Color
// 29.0 Btn Sizes 
// 30.0 Btn Font Size
// 31.0 Btn Social
// 32.0 Btn Social Size
// 33.0 Breadcrumb 
// 34.0 Card 
// 35.0 Chartist 
// 36.0 Carousel 
// 37.0 Dropdown & Dropup 
// 38.0 Data Tables 
// 39.0 Error Page 
// 40.0 Forms 
// 41.0 jQuery Vector Maps 
// 42.0 Label 
// 43.0 List Group
// 44.0 Google Maps 
// 45.0 Modal 
// 46.0 Nav 
// 47.0 Pagination 
// 48.0 Popover 
// 49.0 Progress-Bar 
// 50.0 Spinners 
// 51.0 State 
// 52.0 Table
// 53.0 Tooltips 
// 54.0 Scheme
// 55.0 Mega Menu
// 56.0 Bootstrap Date Time Picker

//--------------------------------------------//
// 2.0 Colors
//--------------------------------------------//
$amber: #ffc107 !default;
$black: #000 !default;
$blue: #2196f3 !default;
$cyan: #00bcd4 !default;
$green: #4caf50 !default;
$indigo: #3f51b5 !default;
$pink: #e91e63 !default;
$primary: #3f51b5 !default;
$purple: #673ab7 !default;
$red: #f44336 !default;
$orange: #ff9800 !default;
$teal: #009688 !default;
$white: #fff !default;
$yellow: #fdd835 !default;

//--------------------------------------------//
// 2.0 Grayscale Colors
//--------------------------------------------//
$gray-dark: #292b2c !default;
$gray: #d1d1d1 !default;
$gray-light: #e2e2e2 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$darken-grey: #484848 !default;
$ultra-dark-gray: #212427 !default;

//--------------------------------------------//
// 4.0 Lighten Colors
//--------------------------------------------//
$lighten-amber: #ffca28 !default;
$lighten-cyan: #4dd0e1 !default;
$lighten-blue: #42a5f5 !default;
$lighten-indigo: #5c6bc0 !default;
$lighten-gray: #d2d2d2 !default;
$lighten-green: #66bb6a !default;
$lighten-pink: #ec407a !default;
$lighten-primary: #5c6bc0 !default;
$lighten-purple: #7e57c2 !default;
$lighten-red: #ef5350 !default;
$lighten-orange: #ffa726 !default;
$lighten-teal: #26a69a !default;
$lighten-yellow: #ffeb3b !default;

//--------------------------------------------//
// 5.0 Darken Colors
//--------------------------------------------//
$darken-amber: #ffb300 !default;
$darken-cyan: #00acc1 !default;
$darken-blue: #1e88e5 !default;
$darken-indigo: #303f9f !default;
$darken-green: #43a047 !default;
$darken-pink: #c2185b !default;
$darken-primary: #303f9f !default;
$darken-purple: #5e35b1 !default;
$darken-red: #e53935 !default;  
$darken-orange: #fb8c00 !default; 
$darken-teal: #00897b !default;
$darken-yellow: #fbc02d !default; 

$theme-color-interval: 8% !default;

$yiq-contrasted-threshold:  150 !default;

$yiq-text-dark: black !default;
$yiq-text-light: $white !default;

//--------------------------------------------//
// 6.0 Reassign Color Vars to Semantic Color Scheme
//--------------------------------------------//
$brand-primary: $primary !default;
$brand-success: $green !default;
$brand-info: $blue !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;
$brand-gradient: linear-gradient(-90deg, $primary, #2f2c87) !default;

$danger-color: $red !default;
$default-color: $gray-light !default;
$info-color: $blue !default;
$inverse-color: $darken-grey !default; 
$success-color: $green !default;
$warning-color: $orange !default;

//--------------------------------------------//
// 7.0 Colors Contextual
//--------------------------------------------//
$danger-hover-color: $lighten-red !default;
$default-hover-color: $gray !default;
$info-hover-color: $lighten-blue !default;
$primary-hover-color: $lighten-primary !default;
$success-hover-color: $lighten-green !default;
$warning-hover-color: $lighten-orange !default;
$danger-hover-color: $lighten-red !default;
$danger-active-color: $darken-red !default;

//--------------------------------------------//
// 8.0 Social Background Colors
//--------------------------------------------//
$facebook: #3B5998 !default;
$twitter: #00aced !default;
$instagram: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !default; 
$pinterest: #bd081c !default;
$linkedin: #0077b5 !default;
$snapchat: #fffc00 !default;
$vk: #45668e !default;
$youtube: #cd201f !default;
$vimeo: #1ab7ea !default;
$googlep: #dd4b39 !default;

//--------------------------------------------//
// 9.0 Options
//--------------------------------------------//
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
$cdn: "../img/" !default;

//--------------------------------------------//
// 10.0 Spacing
//--------------------------------------------//
$spacer: 1rem !default;
$spacer-x: $spacer;
$spacer-y: $spacer;
$spacers: ();
$spacers: map-merge((
  0: 0,
  1: ($spacer * .25),
  2: ($spacer * .5),
  3: $spacer,
  4: ($spacer * 1.5),
  5: ($spacer * 3)
), $spacers);

// This variable affects the `.h-*` and `.w-*` classes.
$sizes: ();
$sizes: map-merge((
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  auto: auto
), $sizes);
// stylelint-enable

//--------------------------------------------//
// 11.0 Body
//--------------------------------------------//
$body-bg:       #f2f2f2 !default;
$body-color:    #484848 !default;

//--------------------------------------------//
// 12.0 Links
//--------------------------------------------//
$link-color:            $body-color !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

//--------------------------------------------//
// 13.0 Grid
//--------------------------------------------//
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns:                12 !default;
$grid-gutter-width:           30px !default;

//--------------------------------------------//
// 14.0 Fonts
//--------------------------------------------//
$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 0.875rem !default; // Assumes the browser default, typically `14px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;

$font-weight-normal: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
/*  Font Size
	8px = 0.5rem
	9px = 0.5625rem
	10px = 0.625rem
	11px = 0.6875rem
	12px = 0.75rem
	13px = 0.8125rem
	14px = 0.875rem
	15px = 0.9375rem
	16px = 1rem (base)
	18px = 1.125rem
	20px = 1.25rem
	22px = 1.375rem
	24px = 1.5rem
	26px = 1.625rem
	28px = 1.75rem
	30px = 1.875rem
	32px = 2rem
	34px = 2.125rem
	36px = 2.25rem
	38px = 2.375rem
	40px = 2.5rem 
*/

//--------------------------------------------//
// 15.0 Headings
//--------------------------------------------//
$headings-margin-bottom: 0 !default;
$headings-font-family: inherit !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.5 !default;
$headings-color: inherit !default;

$display1-size: 4.25rem !default;
$display2-size: 3.75rem !default;
$display3-size: 3.25rem !default;
$display4-size: 2.75rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;

//--------------------------------------------//
// 16.0 Other Typography
//--------------------------------------------//
$lead-font-size: 1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: #6e6e6e !default;
$text-primary: $primary !default;

$abbr-border-color: $gray-light !default;

$border-width: 1px;

$blockquote-small-color: lighten($body-color, 15%) !default;
$blockquote-font-size: ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;
$blockquote-border-width: .25rem !default;

$hr-border-color: rgba($black,.1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: $font-weight-bold !default;

$kbd-box-shadow: inset 0 -.1rem 0 rgba($black,.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 5px !default;

$close-font-size: $font-size-base * 1.5 !default;
$close-font-weight: $font-weight-bold !default;
$close-color: $black !default;
$close-text-shadow: 0 !default;

$code-font-size: 90% !default;
$code-padding-x: .4rem !default;
$code-padding-y: .2rem !default;
$code-color: #bd4147 !default;
$code-bg: $gray-lightest !default;

//--------------------------------------------//
// 17.0 Component Settings
//--------------------------------------------//
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;

$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$border-zero: 0px !default;
$border-solid: 1px solid !default;
$border-dashed: 1px dashed !default;
$border-dot: 1px dotted !default;
$border-color: #e2e2e2 !default;
$border-success: 1px solid $darken-green !default; 
$border-info: 1px solid $darken-blue !default; 
$border-warning: 1px solid $darken-yellow !default;
$border-danger: 1px solid $darken-red !default;
$border-inverse-color: #656565 !default;

$component-active-color: $white !default;
$component-active-bg:    $brand-primary !default;

$caret-width: .3em !default;

$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse:    height .35s ease !default;

$thumbnail-padding: .25rem !default;
$thumbnail-bg: $body-bg !default;
$thumbnail-border-width: $border-width !default;
$thumbnail-border-color: #ddd !default;
$thumbnail-border-radius: $border-radius !default;
$thumbnail-box-shadow: 0 1px 2px rgba($black,.075) !default;
$thumbnail-transition: all .2s ease-in-out !default;

$figure-caption-font-size: 90% !default;
$figure-caption-color: $gray-light !default;

$cursor-disabled: not-allowed !default;

//--------------------------------------------//
// 18.0 Z-index
//--------------------------------------------//
$zindex-dropdown-backdrop: 990 !default;
$zindex-navbar: 1000 !default;
$zindex-dropdown: 1000 !default;
$zindex-fixed: 1030 !default;
$zindex-sticky: 1030 !default;
$zindex-modal-backdrop: 1101 !default;
$zindex-modal: 1102 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
$zindex-search: 1000 !default;
$zindex-sidebar: 1050 !default;
$zindex-header-fixed: 1060 !default;
$zindex-app-sidebar: 1 !default;
$zindex-mega-menu: 1035 !default;

//--------------------------------------------//
// 19.0 Transition
//--------------------------------------------//
$very-slow: all 1s ease-in-out !default;
$slow: all 0.75s ease-in-out !default;
$average: all 0.5s ease-in-out !default;
$fast: all 0.3s ease-in-out !default;
$very-fast: all 0.15s ease-in-out !default;

//--------------------------------------------//
// 20.0 Sidebar
//--------------------------------------------//
$sidebar-width: 230px !default;
$sidebar-collapse-width: 60px !default;
$sidebar-bg: $ultra-dark-gray !default;

$sidebar-header-font-size: 0.75rem !default;
$sidebar-header-color: rgba(255,255,255, 0.4) !default;

$sidebar-color: rgba(255,255,255, 0.55) !default;
$sidebar-active-color: $white !default;
$sidebar-hover-color: $white !default;
$sidebar-font-size: 0.875rem !default;

//--------------------------------------------//
// 21.0 Header
//--------------------------------------------//
$header-height: 60px !default;
$header-font-size: 1rem !default;
$header-gradient: linear-gradient(90deg, $primary, #2f2c87) !default;

//--------------------------------------------//
// 22.0 Brand
//--------------------------------------------//
$brand-height: $header-height !default;
$brand-width: $sidebar-width !default;
$brand-background: $primary !default;

$brand-color: $white !default;
$brand-font-size: 1.5rem !default;
$brand-text-transform: uppercase !default;

$hamburger-padding-x: 0px !default;
$hamburger-padding-y: 0px !default;
$hamburger-layer-width: 18px !default;
$hamburger-layer-height: 2px !default;
$hamburger-layer-spacing: 3px !default;
$hamburger-layer-color: $body-color !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-opacity: 1 !default;
$hamburger-hover-transition-duration: 0.2s !default;
$hamburger-hover-transition-timing-function: linear !default;

$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(100%) !default;

//--------------------------------------------//
// 23.0 Alerts 
//--------------------------------------------//
$alert-padding: 0.75rem 1rem !default;
$alert-border-radius: $border-radius !default;
$alert-font-size: 15px !default;
$alert-icon-size: 16px !default;
$alert-font-weight: 500 !default;
$alert-font-color: $white !default;
$alert-font-color-hover: $white !default;
$alert-icon-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2) !default;

$alert-success-color: $success-color !default;
$alert-info-color: $info-color !default;
$alert-warning-color: $warning-color !default;
$alert-danger-color: $danger-color !default;

$alert-box-font-color: $body-color !default;  
$alert-box-bg-color: $white !default;
$alert-icon-width: 50px !default;
$alert-icon-box-color: $white !default;

$alert-content-padding: 0.75rem 0rem !default;
$alert-content-margin: 0 15px 0px 60px !default;

$alert-circle-font-color: $body-color !default;
$alert-circle-bg-color: $white !default;
$alert-circle-icon-width: 30px !default;
$alert-circle-icon-height: 30px !default;

$alert-success-link-color: darken($alert-success-color, 30%) !default;                  
$alert-danger-link-color: darken($alert-danger-color, 30%) !default;                  
$alert-info-link-color: darken($alert-info-color, 30%) !default;                  
$alert-warning-link-color: darken($alert-warning-color, 30%) !default;    

//--------------------------------------------//
// 24.0 App 
//--------------------------------------------//
$app-sidebar-width: 250px !default; 
$app-sidebar-toggle-button: $primary !default;
$app-sidebar-toggle-button-hover: $lighten-primary !default;

//--------------------------------------------//
// 25.0 Authentication 
//--------------------------------------------//
$authentication-max-width: 390px !default;
$authentication-bg: $white !default;
$authentication-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.035) !default;

//--------------------------------------------//
// 26.0 Badge 
//--------------------------------------------//
$badge-padding: 0.25rem 0.45rem !default;
$badge-font-size: 11px !default;
$badge-font-color: $white !default;
$badge-default-font-color: $body-color !default;
$badge-border: 1px solid !default;
$badge-pill-radius: 20px !default;

$badge-circle-padding: 3px 0px !default;
$badge-circle-size: 20px !default;

$badge-success: $success-color !default;
$badge-danger: $danger-color !default;
$badge-info: $info-color !default;
$badge-warning: $warning-color !default;
$badge-primary: $primary !default;
$badge-default: $gray !default;

$badge-success-hover: $success-hover-color !default;
$badge-danger-hover: $danger-hover-color !default;
$badge-info-hover: $info-hover-color !default;
$badge-warning-hover: $warning-hover-color !default;
$badge-primary-hover: $primary-hover-color !default;
$badge-default-hover: $gray-light !default;

//--------------------------------------------//
// 27.0 Buttons
//--------------------------------------------//
$btn-font-color: $white !default; 
$btn-font-size: 0.875rem !default;                     
$btn-bg: transparent !default;                       
$btn-line-height: 1.25 !default;                      
$btn-padding: 0.5rem 1rem !default;   

$btn-circle-width: 40px !default;
$btn-circle-height: 40px !default;

$btn-social-width: 40px !default;                       
$btn-social-height: 40px !default;    

$btn-social-label-padding: 0.5rem 0.75rem !default;

$btn-social-xl-size: 24px !default;                      
$btn-social-lg-size: 20px !default;                 
$btn-social-md-size: 16px !default;                     
$btn-social-sm-size: 14px !default;                  
$btn-social-xs-size: 12px !default;  

$btn-padding-x: 1rem !default; 
$btn-padding-y: .5rem !default; 

$btn-o-border: $border-solid !default;
$btn-o-bg: transparent !default;

//--------------------------------------------//
// 28.0 Btn Background Color, Font Color & Border Color
//--------------------------------------------//
$btn-danger-bg: $danger-color !default;
$btn-danger-border: $danger-color !default;
$btn-danger-font-color: $danger-color !default;

$btn-default-bg: $default-color !default;
$btn-default-border: $default-color !default;
$btn-default-font-color: $body-color !default;

$btn-info-bg: $info-color !default;
$btn-info-border: $info-color !default;
$btn-info-font-color: $info-color !default;

$btn-inverse-bg: $inverse-color !default;
$btn-inverse-border: $inverse-color !default;
$btn-inverse-font-color: $body-color !default;

$btn-primary-bg: $primary !default;
$btn-primary-border: $primary !default;
$btn-primary-font-color: $primary !default;

$btn-success-bg: $success-color !default;
$btn-success-border: $success-color !default;
$btn-success-font-color: $success-color !default;

$btn-warning-bg: $warning-color !default;
$btn-warning-border: $warning-color !default;
$btn-warning-font-color: $warning-color !default;

//--------------------------------------------//
// 29.0 Btn Sizes 
//--------------------------------------------//
$btn-xl: 1rem 1.5rem !default;
$btn-lg: 0.75rem 1.25rem !default;
$btn-md: 0.5rem 1rem !default;
$btn-sm: 0.25rem 1rem !default;
$btn-xs: 0rem 0.5rem !default;

//--------------------------------------------//
// 30.0 Btn Font Size
//--------------------------------------------//
$btn-xl-font-size: 20px !default;
$btn-lg-font-size: 18px !default;
$btn-md-font-size: 16px !default;
$btn-sm-font-size: 14px !default;
$btn-xs-font-size: 12px !default;

//--------------------------------------------//
// 31.0 Btn Social
//--------------------------------------------//
$btn-facebook-bg: $facebook !default;
$btn-facebook-border: $border-solid $facebook !default;
$btn-facebook-bg-hover: lighten($facebook, 8%) !default;

$btn-googlep-bg: $googlep !default;
$btn-googlep-border: $border-solid $googlep !default;
$btn-googlep-bg-hover: lighten($googlep, 8%) !default;

$btn-instagram-bg: $instagram !default;
$btn-instagram-border: $border-solid $instagram !default;
$btn-instagram-opacity-hover: 0.8 !default; 

$btn-linkedin-bg: $linkedin !default;
$btn-linkedin-border: $border-solid $linkedin !default;
$btn-linkedin-bg-hover: lighten($linkedin, 8%) !default;

$btn-pinterest-bg: $pinterest !default;
$btn-pinterest-border: $border-solid $pinterest !default;
$btn-pinterest-bg-hover: lighten($pinterest, 8%) !default;

$btn-snapchat-bg: $snapchat !default;
$btn-snapchat-border: $border-solid $snapchat !default; 
$btn-snapchat-bg-hover: lighten($snapchat, 8%) !default;

$btn-twitter-bg: $twitter !default;
$btn-twitter-border: $border-solid $twitter !default;
$btn-twitter-bg-hover: lighten($twitter, 8%) !default;

$btn-vk-bg: $vk !default;
$btn-vk-border: $border-solid $vk !default;
$btn-vk-bg-hover: lighten($vk, 8%) !default;

$btn-vimeo-bg: $vimeo !default;
$btn-vimeo-border: $border-solid $vimeo !default;
$btn-vimeo-bg-hover: lighten($vimeo, 8%) !default;

$btn-youtube-bg: $youtube !default;
$btn-youtube-border: $border-solid $youtube !default;
$btn-youtube-bg-hover: lighten($youtube, 8%) !default;

//--------------------------------------------//
// 32.0 Btn Social Size
//--------------------------------------------//
$btn-social-xl-width: 75px !default;
$btn-social-xl-height: 75px !default;

$btn-social-lg-width: 65px !default;
$btn-social-lg-height: 65px !default;

$btn-social-md-width: 50px !default;
$btn-social-md-height: 50px !default;

$btn-social-sm-width: 40px !default;
$btn-social-sm-height: 40px !default; 

$btn-social-xs-width: 30px !default;
$btn-social-xs-height: 30px !default;

//--------------------------------------------//
// 33.0 Breadcrumb 
//--------------------------------------------//
$breadcrumb-font-size: 13px !default;
$breadcrumb-font-weight: 400 !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-before-padding: 0rem 0.3rem !default;
$breadcrumb-before-font: $font-family-sans-serif !default;
$breadcrumb-before-content: "/" !default;
$breadcrumb-before-size: 14px !default; 

//--------------------------------------------//
// 34.0 Card 
//--------------------------------------------//
$card-border: $border-solid darken($border-color, 2%) !default;
$card-border-dashed: $border-dashed darken($border-color, 10%) !default;
$card-border-dot: $border-dot darken($border-color, 10%) !default;
$card-bg: $white !default;
$card-second-color: $body-color !default;
$card-heading-padding: 1rem !default;
$card-body-padding: 0rem 1rem 1rem 1rem !default;
$card-border-radius: 0rem !default;
$card-style-shadow: 0px 4px 3px -2px rgba(0,0,0,0.15) !default;
$card-tools-color: rgba(0,0,0,0.4) !default;
$card-tools-font-size: .875rem !default;
$card-tools-hover-color: $primary !default;
$card-tools-close-color: $red !default;
$card-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.035) !default;
$card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default;
$card-refresh-bg: rgba(255,255,255,0.9) !default;

//--------------------------------------------//
// 35.0 Chartist 
//--------------------------------------------//
$ct-container-ratio: (1/1.618) !default;
$ct-text-color: $body-color !default;
$ct-text-size: $font-size-base !default;
$ct-text-align: flex-start !default;
$ct-text-justify: flex-start !default;
$ct-text-line-height: 1 !default;
$ct-grid-color: rgba(0, 0, 0, 0.25) !default;
$ct-grid-dasharray: 2px !default;
$ct-grid-width: 1px !default;
$ct-grid-background-fill: none !default;
$ct-line-width: 4px !default;
$ct-line-dasharray: false !default;
$ct-point-size: 10px !default;
$ct-point-shape: round !default;
$ct-area-opacity: 0.1 !default;
$ct-bar-width: 10px !default;
$ct-donut-width: 60px !default;
$ct-series-colors: (
	#3f51b5,
	#f05b4f,
	#f4c63d,
	#d17905,
	#453d3f,
	#59922b,
	#0544d3,
	#6b0392,
	#f05b4f,
	#dda458,
	#eacf7d,
	#86797d,
	#b2c326,
	#6188e2,
	#a748ca
) !default;

//--------------------------------------------//
// 36.0 Carousel 
//--------------------------------------------//
$carousel-control-color: $white !default;
$carousel-control-width: 15% !default;
$carousel-control-opacity: .5 !default;

$carousel-indicator-width: 30px !default;
$carousel-indicator-height: 3px !default;
$carousel-indicator-spacer: 3px !default;
$carousel-indicator-active-bg: $white !default;

$carousel-caption-width: 70% !default;
$carousel-caption-color: $white !default;

$carousel-control-icon-width: 20px !default;

$carousel-control-prev-icon-bg: str-replace(url("data:image/svg+xml !default;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$carousel-control-next-icon-bg: str-replace(url("data:image/svg+xml !default;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$carousel-transition: transform .6s ease-in-out !default;

//--------------------------------------------//
// 37.0 Dropdown & Dropup 
//--------------------------------------------//
$drop-padding: 0.4rem 0.75rem !default;
$dropdown-min-width: 140px !default;
$caret-width: 0.3em !default;
$dropdown-bg: $white !default;

//--------------------------------------------//
// 38.0 Data Tables 
//--------------------------------------------//
$data-tables-font-size: $font-size-base !default;
$data-tables-border: $border-solid $border-color !default;
$data-tables-sorting-border: 2px solid $primary !default;
$data-tables-font-size-head-footer: 14px !default;
$data-tables-paginate-bg: transparent !default;
$data-tables-paginate-padding: 6px 11px !default;
$data-tables-paginate-current-bg: $primary !default;
$data-tables-paginate-hover-bg: $body-bg !default;
$data-tables-second-color: $white !default;

//--------------------------------------------//
// 39.0 Error Page 
//--------------------------------------------//
$error-text-shadow: 0px 0px 12px rgba(0,0,0,0.15) !default;

//--------------------------------------------//
// 40.0 Forms 
//--------------------------------------------//
$input-padding-x: 0.75rem !default;
$input-padding-y: 0.5rem !default;
$input-line-height: 1.25 !default;

$input-bg: $white !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $body-color !default;
$input-border: $border-solid $border-color !default;
$input-border-color: $border-color !default;
$input-btn-border-width: $border-width !default;
$input-box-shadow: inset 0 1px 1px rgba($black,.075) !default;
 
$input-border-radius: $border-radius !default;

$input-bg-focus: $input-bg !default;
$input-border-focus: $primary !default;
$input-box-shadow-focus: $input-box-shadow, rgba($input-border-focus, .6) !default;
$input-color-focus: $input-color !default;

$input-color-placeholder: lighten($body-color, 10%) !default;

$form_help_block-font-size: 0.75rem !default;

$input-padding-x-sm: 1rem !default;
$input-padding-y-sm: 0.25rem !default;
$input-border-radius-sm: 4px !default;
$input-height-sm: 24px !default;

$input-height-lg: 34px !default;
$input-padding-x-lg: 1rem !default;
$input-padding-y-lg: 0.75rem !default;
$input-border-radius-lg: 6px !default;

$input-font-size-sm: $font-size-xs !default;
$input-font-size-lg: $font-size-lg !default;

$input-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;

$form-text-margin-top: 0.25rem !default;
$form-feedback-margin-top: $form-text-margin-top !default;
$form-check-margin-bottom: 0.5rem !default;
$form-check-input-gutter: 1.25rem !default;
$form-check-input-margin-y: 0.25rem !default;
$form-check-input-margin-x: 0.25rem !default;
$form-check-inline-margin-x: 1rem !default;
$form-group-margin-bottom: 1rem !default;

$input-group-addon-bg: #f2f2f2 !default;
$input-group-addon-border-color: $input-border-color !default;

$off-switch-color: $gray !default;
$off-switch-background-color: rgba(0,0,0,.2) !default;
$on-switch-color: $primary !default;
$on-switch-background-color: rgba($on-switch-color, .50) !default;

$on-switch-primary-color: $primary !default;

$custom-file-height: 2.3rem !default;
$custom-file-width: 100% !default;

$custom-file-padding-x: 0.75rem !default;
$custom-file-padding-y: 0.45rem !default;
 
$custom-file-color: $body-color !default;
$custom-file-bg: $white !default;
$custom-file-border-radius: $border-radius !default;
$custom-file-border-width:  $border-width !default;
$custom-file-button-color: $white !default;
$custom-file-button-bg: $primary !default;
$custom-file-text: (
	placeholder: (
		en: "Choose file..."
	),
	button-label: (
		en: "Browse"
	)
) !default;

//--------------------------------------------//
// 41.0 jQuery Vector Maps 
//--------------------------------------------//
$jqvmap-height: 285px !default;

//--------------------------------------------//
// 42.0 Label 
//--------------------------------------------//
$label-padding: 0.25rem 0.5rem !default;
$label-font-size: 12px !default;
$label-line-height: 1.25 !default;

//--------------------------------------------//
// 43.0 List Group
//--------------------------------------------//
$list-group-broder: $border-solid $border-color !default;
$list-group-border-color: $gray-light !default;
$list-group-border-radius: $border-radius !default;
$list-group-item-padding-x: 1.25rem !default;
$list-group-item-padding-y: .75rem !default;
$list-group-bg: $white !default;
$list-group-color: $white !default;
$list-group-hover-bg: $gray-lighter !default;
$list-group-focus-bg: $white !default;
$list-group-border-width: 1px !default;
$list-group-active-bg: $primary !default;
$list-group-active-border: $primary !default;
$list-group-active-color: $white !default;

$list-group-focus-active-border: $primary !default;
$list-group-hover-active-border: $lighten-primary !default;

$list-group-disabled-color: lighten($body-color, 20%) !default;
$list-group-disabled-bg: $white !default;

$list-group-link-color: $body-color !default;
$list-group-link-hover-color: $white !default;
 
$list-group-link-active-bg: $primary !default;
$list-group-link-active-color: $white !default;

$input-btn-border-width: $border-width !default;

//--------------------------------------------//
// 44.0 Google Maps 
//--------------------------------------------//
$google-map-height: 500px !default;

//--------------------------------------------//
// 45.0 Modal 
//--------------------------------------------//
$modal-inner-padding: 1rem !default;
$modal-border: 0px !default;
$modal-border-radius: 0px !default;
 
$modal-dialog-margin: 10px !default;
$modal-dialog-sm-up-margin-y: 30px !default; 
$modal-title-line-height: 1.25 !default;

$modal-content-bg: $white !default;
$modal-content-border-color: rgba($black,.2) !default;
$modal-content-xs-box-shadow: 0 3px 9px rgba($black,.5) !default;
$modal-content-sm-up-box-shadow: 0 5px 15px rgba($black,.5) !default;

$modal-backdrop-bg: $black !default;
$modal-backdrop-opacity: .5 !default;
$modal-header-border-color: $border-color !default;
$modal-footer-border: $border-solid $border-color !default;
$modal-footer-bg: transparent !default;
$modal-header-padding: 1rem !default;

$modal-danger-color: $danger-color !default;
$modal-default-color: $default-color !default;
$modal-info-color: $info-color !default;
$modal-primary: $primary !default;
$modal-success-color: $success-color !default;
$modal-warning-color: $warning-color !default;

$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;

$modal-transition: transform .3s ease-out !default;

//--------------------------------------------//
// 46.0 Nav 
//--------------------------------------------//
$nav-bg: #f2f2f2 !default;
$nav-link: $body-color !default;
$nav-link-padding: 0.65rem 1rem !default;
$nav-disabled-link-color: lighten($body-color,20%) !default;
$nav-tabs-border-color: $border-color !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-active-link-hover-color: $primary !default;
$nav-tabs-active-link-hover-bg: $nav-bg !default;
$nav-tabs-active-link-border-color: $primary !default;
$nav-tabs-border-width: 0px !default;

//--------------------------------------------//
// 47.0 Pagination 
//--------------------------------------------//
$pagination-link-padding: 0.5rem 0.85rem !default;
$pagination-mb: 1rem !default;
$pagination-size-lg: 0.85rem 1.35rem !default;
$pagination-size-sm: 0.15rem 0.4rem !default;
$pagination-hover-bg: $body-bg !default;
$pagination-focus-bg: $gray-lighter !default;
$pagination-active-bg: $primary !default;
$pagination-active-color: $white !default;

//--------------------------------------------//
// 48.0 Popover 
//--------------------------------------------//
$popover-inner-padding: 0px !default;
$popover-bg: $white !default;
$popover-max-width: 276px !default;
$popover-border-width: $border-width !default;
$popover-border-color: rgba($black,.2) !default;
$popover-box-shadow:  0 5px 10px rgba($black,.2) !default;

$popover-title-bg: darken($popover-bg, 3%) !default;
$popover-title-padding-x: 14px !default;
$popover-title-padding-y: 8px !default;

$popover-content-padding-x: 14px !default;
$popover-content-padding-y: 9px !default;

$popover-arrow-width: 10px !default;
$popover-arrow-color: $popover-bg !default;

$popover-arrow-outer-width: ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color: fade-in($popover-border-color, .05) !default;

//--------------------------------------------//
// 49.0 Progress-Bar 
//--------------------------------------------//
$progress-height: 0.5rem !default;
$progress-font-size: .75rem !default;
$progress-line-height: 1 !default;
$progress-bg: $default-color !default;
$progress-border-radius: $border-radius !default;
$progress-box-shadow: inset 0 .1rem .1rem rgba($black,.1) !default;
$progress-bar-color: $white !default;
$progress-bar-bg: $gray !default;
$progress-bar-animation-timing: 1s linear infinite !default;

$progress-bar-font-size: 8px !default;
$progress-bar-xs-font-size: 8px !default;
$progress-bar-md-font-size: 8px !default;
$progress-bar-lg-font-size: 12px !default;
$progress-bar-xl-font-size: 15px !default;

$progress-bar-danger: $danger-color !default;
$progress-bar-default: darken($default-color, 7%) !default;
$progress-bar-info: $info-color !default;
$progress-bar-primary: $primary !default;
$progress-bar-success: $success-color !default;
$progress-bar-warning: $warning-color !default;

$progess-bar-xs: 0.25rem !default;
$progess-bar-sm: 0.5rem !default;
$progess-bar-md: 0.75rem !default;
$progess-bar-lg: 1rem !default;
$progess-bar-xl: 1.25rem !default;

//--------------------------------------------//
// 50.0 Spinners 
//--------------------------------------------//
$spinner-width: 3rem !default;
$spinner-height: 3rem !default;
$spinner-border-radius: 50% !default;

$spinner-xs-width: 1.15rem !default;
$spinner-xs-height: 1.15rem !default;

$spinner-sm-width: 1.5rem !default;
$spinner-sm-height: 1.5rem !default;

$spinner-md-width: 2.25rem !default;
$spinner-md-height: 2.25rem !default;

$spinner-lg-width: 3rem !default;
$spinner-lg-height: 3rem !default;

$spinner-xl-width: 4rem !default;
$spinner-xl-height: 4rem !default;

$spinner-before-width: 50% !default;
$spinner-before-height: 50% !default;
$spinner-before-radius: 100% 0 0 0 !default;

$spinner-after-width: 75% !default;
$spinner-after-height: 75% !default;
$spinner-after-radius: 50% !default;

$spinner2-width: 3rem !default;
$spinner2-height: 3rem !default;
$spinner2-border-radius: 50% !default;

$spinner2-after-width: 3rem !default;
$spinner2-after-height: 3rem !default;
$spinner2-after-radius: 50% !default;

$spinner2-border-top: 0.5rem solid rgba(169,169,169, 0.3) !default;
$spinner2-border-bottom: 0.5rem solid rgba(169,169,169, 0.3) !default;
$spinner2-border-left: 0.5rem solid !default;
$spinner2-border-right: 0.5rem solid rgba(169,169,169, 0.3) !default;

$spinner2-xs-border-top: 0.15rem solid rgba(169,169,169, 0.3) !default;
$spinner2-xs-border-bottom: 0.15rem solid rgba(169,169,169, 0.3) !default;
$spinner2-xs-border-left: 0.15rem solid !default;
$spinner2-xs-border-right: 0.15rem solid rgba(169,169,169, 0.3) !default;

$spinner2-sm-border-top: 0.35rem solid rgba(169,169,169, 0.3) !default;
$spinner2-sm-border-bottom: 0.35rem solid rgba(169,169,169, 0.3) !default;
$spinner2-sm-border-left: 0.35rem solid !default;
$spinner2-sm-border-right: 0.35rem solid rgba(169,169,169, 0.3) !default;

$spinner3-width: 3rem !default;
$spinner3-height: 3rem !default;
$spinner3-border-radius: 50% !default;
$spinner3-font-size: 8px !default;

$spinner3-before-width: 50% !default;
$spinner3-before-height: 50% !default;
$spinner3-before-border-radius: 100% 0 0 0 !default;

$spinner3-after-width: 75% !default;
$spinner3-after-height: 75% !default;
$spinner3-after-border-radius: 50% !default;

//--------------------------------------------//
// 51.0 State 
//--------------------------------------------//
$state-success-text: #3c763d !default; 
$state-success-bg: #dff0d8 !default;
$state-success-border: darken($state-success-bg, 5%) !default;

$state-info-text: #31708f !default;
$state-info-bg:  #d9edf7 !default;
$state-info-border: darken($state-info-bg, 7%) !default;

$state-warning-text: #8a6d3b !default;
$state-warning-bg: #fcf8e3 !default;
$mark-bg: $primary !default;
$state-warning-border: darken($state-warning-bg, 5%) !default;

$state-danger-text: #a94442 !default;
$state-danger-bg: #f2dede !default;
$state-danger-border: darken($state-danger-bg, 5%) !default;

//--------------------------------------------//
// 52.0 Table
//--------------------------------------------//
$table-cell-padding: 0.5rem !default;
$table-sm-cell-padding: 0.25rem 0.5rem !default;
$table-bg: $white !default;
$table-font-color: $body-color !default;
$table-border: $border-solid $border-color !default;
$table-font-size: $font-size-base !default;

$table-inverse-bg: $ultra-dark-gray !default;
$table-inverse-color: rgba(255,255,255, 0.55) !default;
$table-inverse-bg-hover: lighten($table-inverse-bg,5%) !default;

$table-bg-accent: rgba($black,.05) !default;
$table-bg-hover: rgba($black,.075) !default;
$table-bg-active: $table-bg-hover !default;

$table-head-bg: $body-bg !default;
$table-head-color: $body-color !default;
$table-head-font-size: $font-size-base !default;

$table-border-width: 1px !default;
$table-border-color: $border-color !default;

//--------------------------------------------//
// 53.0 Tooltips 
//--------------------------------------------//
$tooltip-max-width: 200px !default;
$tooltip-color: $white !default;
$tooltip-bg: $black !default;
$tooltip-opacity: .9 !default;
$tooltip-padding-y: 3px !default;
$tooltip-padding-x: 8px !default;
$tooltip-margin: 3px !default;
$tooltip-arrow-width: 5px !default;
$tooltip-arrow-color: $tooltip-bg !default;

//--------------------------------------------//
// 54.0 Scheme
//--------------------------------------------//
// @import "../themes/_scheme-amber.scss";
// @import "../themes/_scheme-cyan.scss";
// @import "../themes/_scheme-blue.scss";
// @import "../themes/_scheme-green.scss";
// @import "../themes/_scheme-pink.scss";
// @import "../themes/_scheme-purple.scss";
// @import "../themes/_scheme-red.scss";
// @import "../themes/_scheme-orange.scss";
// @import "../themes/_scheme-teal.scss";

//--------------------------------------------//
// 55.0 Mega Menu
//--------------------------------------------//
$mega-menu-margin: 1.5rem !default;
$mega-menu-padding: 1rem 1.5rem !default;
$mega-menu-title-padding: 1rem !default;
$mega-menu-height: 280px !default;
$mega-menu-left: $sidebar-width !default;

$sub-link-padding: 0rem 1.75rem 0rem 0rem !default;
$sub-link-margin: 1rem 0rem 0rem 0rem !default;
$sub-link-background-hover: $white !default;

$sub-link-after-content: "\f105" !default;
$sub-link-after-family: FontAwesome !default;
$sub-link-after-font-size: 1rem !default;
$sub-link-after-top: -1px !default;
$sub-link-after-right: 0.6rem !default;

$sub-link-dropdown-after-content: "\f107" !default;
$sub-dropdown-margin-bottom: 0.5rem !default; 
$sub-dropdown-item-padding: 0.5rem 1rem !default; 

//--------------------------------------------//
// 56.0 Date Range Picker
//--------------------------------------------//
$prefix-class: daterangepicker !default;
$arrow-size: 7px !default;

// Date Range Picker Colors
$daterangepicker-color: inherit !default;
$daterangepicker-bg-color: $white !default;

$daterangepicker-cell-color: $daterangepicker-color !default;
$daterangepicker-cell-border-color: transparent !default;
$daterangepicker-cell-bg-color: $daterangepicker-bg-color !default;

$daterangepicker-cell-hover-color: $daterangepicker-color !default;
$daterangepicker-cell-hover-border-color: $daterangepicker-cell-border-color !default;
$daterangepicker-cell-hover-bg-color: $body-bg !default;

$daterangepicker-in-range-color: $body-color !default;
$daterangepicker-in-range-border-color: transparent !default;
$daterangepicker-in-range-bg-color: $body-bg !default;

$daterangepicker-active-color: $white !default;
$daterangepicker-active-bg-color: $primary !default;
$daterangepicker-active-border-color: transparent !default;

$daterangepicker-unselected-color: $body-color !default;
$daterangepicker-unselected-border-color: transparent !default;
$daterangepicker-unselected-bg-color: $white !default;

// Date Range Picker
$daterangepicker-width: 278px !default;
$daterangepicker-padding: 4px !default;
$daterangepicker-z-index: 100 !default;

$daterangepicker-border-size: 1px !default;
$daterangepicker-border-color: $border-color !default;
$daterangepicker-border-radius: 4px !default;

// Date Range Picker Calendar
$daterangepicker-calendar-margin: $daterangepicker-padding !default;
$daterangepicker-calendar-bg-color: $daterangepicker-bg-color !default;

$daterangepicker-calendar-border-size: 1px !default;
$daterangepicker-calendar-border-color: $daterangepicker-bg-color !default;
$daterangepicker-calendar-border-radius: $daterangepicker-border-radius !default;

// Date Range Picker Calendar Cells
$daterangepicker-cell-size: 20px !default;
$daterangepicker-cell-width: $daterangepicker-cell-size !default;
$daterangepicker-cell-height: $daterangepicker-cell-size !default;

$daterangepicker-cell-border-radius: $daterangepicker-calendar-border-radius !default;
$daterangepicker-cell-border-size: 1px !default;

// Date Range Picker Dropdowns
$daterangepicker-dropdown-z-index: $daterangepicker-z-index + 1 !default;

// Date Range Picker Controls
$daterangepicker-control-height: 30px !default;
$daterangepicker-control-line-height: $daterangepicker-control-height !default;
$daterangepicker-control-color: $body-color !default;

$daterangepicker-control-border-size: 1px !default;
$daterangepicker-control-border-color: $border-color !default;
$daterangepicker-control-border-radius: $border-radius !default;

$daterangepicker-control-active-border-size: 1px !default;
$daterangepicker-control-active-border-color: $primary !default;
$daterangepicker-control-active-border-radius: $daterangepicker-control-border-radius !default;

$daterangepicker-control-disabled-color: $border-color !default;

// Date Range Picker Ranges
$daterangepicker-ranges-color: $body-color !default;
$daterangepicker-ranges-bg-color: $body-bg !default;

$daterangepicker-ranges-border-size: 1px !default;
$daterangepicker-ranges-border-color: $daterangepicker-ranges-bg-color !default;
$daterangepicker-ranges-border-radius: $daterangepicker-border-radius !default;

$daterangepicker-ranges-hover-color: $white !default;
$daterangepicker-ranges-hover-bg-color: $primary !default;
$daterangepicker-ranges-hover-border-size: $daterangepicker-ranges-border-size !default;
$daterangepicker-ranges-hover-border-color: $daterangepicker-ranges-hover-bg-color !default;
$daterangepicker-ranges-hover-border-radius: $daterangepicker-border-radius !default;

$daterangepicker-ranges-active-border-size: $daterangepicker-ranges-border-size !default;
$daterangepicker-ranges-active-border-color: $daterangepicker-ranges-bg-color !default;
$daterangepicker-ranges-active-border-radius: $daterangepicker-border-radius !default;


$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             1px !default;
$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              lighten($component-active-bg, 25%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     1 !default;
$input-focus-box-shadow:              	0 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
), $theme-colors) !default;