//--------------------------------------------//
// 14.0 Fonts
//--------------------------------------------//
$font-family-sans-serif: "Open Sans", sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:       $font-family-sans-serif !default;

$font-size-base: 0.875rem !default; // Assumes the browser default, typically `14px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;

$font-weight-normal: 400 !default;
$font-weight-semi-bold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-thin: 100 !default;
$font-weight-light: 300 !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
/*  Font Size
	8px = 0.5rem
	9px = 0.5625rem
	10px = 0.625rem
	11px = 0.6875rem
	12px = 0.75rem
	13px = 0.8125rem
	14px = 0.875rem
	15px = 0.9375rem
	16px = 1rem (base)
	18px = 1.125rem
	20px = 1.25rem
	22px = 1.375rem
	24px = 1.5rem
	26px = 1.625rem
	28px = 1.75rem
	30px = 1.875rem
	32px = 2rem
	34px = 2.125rem
	36px = 2.25rem
	38px = 2.375rem
	40px = 2.5rem 
*/


//--------------------------------------------//
// 15.0 Headings
//--------------------------------------------//
$headings-margin-bottom: 0 !default;
$headings-font-family: inherit !default;
$headings-font-weight: 600 !default;
$headings-line-height: 1.5 !default;
$headings-color: inherit !default;

$display1-size: 4.25rem !default;
$display2-size: 3.75rem !default;
$display3-size: 3.25rem !default;
$display4-size: 2.75rem !default;

$display1-weight: 300 !default;
$display2-weight: 300 !default;
$display3-weight: 300 !default;
$display4-weight: 300 !default;
$display-line-height: $headings-line-height !default;


//--------------------------------------------//
// 16.0 Other Typography
//--------------------------------------------//
$lead-font-size: 1.25rem !default;
$lead-font-weight: 300 !default;

$small-font-size: 80% !default;

$text-muted: #6e6e6e !default;
$text-primary: $primary !default;

$abbr-border-color: $gray-light !default;

$border-width: 1px;

$blockquote-small-color: lighten($body-color, 15%) !default;
$blockquote-font-size: ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;
$blockquote-border-width: .25rem !default;

$hr-border-color: rgba($black,.1) !default;
$hr-border-width: $border-width !default;

$mark-padding: .2em !default;

$dt-font-weight: $font-weight-bold !default;

$kbd-box-shadow: inset 0 -.1rem 0 rgba($black,.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;

$list-inline-padding: 5px !default;

$close-font-size: $font-size-base * 1.5 !default;
$close-font-weight: $font-weight-bold !default;
$close-color: $black !default;
$close-text-shadow: 0 !default;

$code-font-size: 90% !default;
$code-padding-x: .4rem !default;
$code-padding-y: .2rem !default;
$code-color: #bd4147 !default;
$code-bg: $gray-lightest !default;