//--------------------------------------------//
// 18.0 Z-index
//--------------------------------------------//
$zindex-dropdown-backdrop: 990 !default;
$zindex-navbar: 1000 !default;
$zindex-dropdown: 1000 !default;
$zindex-fixed: 1030 !default;
$zindex-sticky: 1030 !default;
$zindex-modal-backdrop: 1101 !default;
$zindex-modal: 1102 !default;
$zindex-popover: 1060 !default;
$zindex-tooltip: 1070 !default;
$zindex-search: 1000 !default;
$zindex-sidebar: 1050 !default;
$zindex-header-fixed: 1060 !default;
$zindex-app-sidebar: 1 !default;
$zindex-mega-menu: 1035 !default;