/* ====================
// variables 變數
// ==================== */
//--------------------------------------------//
// TABLE OF CONTENTS:
//--------------------------------------------//
// 1.0 Core
// 2.0 Colors
// 2.0 Colors Gray 
// 4.0 Colors Lighten 
// 5.0 Colors Darken 
// 6.0 Colors Scheme
// 7.0 Colors Contextual
// 8.0 Colors Social Background 
// 9.0 Options
// 10.0 Spacing
// 11.0 Body
// 12.0 Links
// 13.0 Grid
// 14.0 Fonts
// 15.0 Headings
// 16.0 Other Typography
// 17.0 Component Settings
// 18.0 Z-index
// 19.0 Transition
// 20.0 Sidebar
// 21.0 Header
// 22.0 Brand
// 23.0 Alerts 
// 24.0 App 
// 25.0 Authentication 
// 26.0 Badge 
// 27.0 Buttons
// 28.0 Btn Background Color, Font Color & Border Color
// 29.0 Btn Sizes 
// 30.0 Btn Font Size
// 31.0 Btn Social
// 32.0 Btn Social Size
// 33.0 Breadcrumb 
// 34.0 Card 
// 35.0 Chartist 
// 36.0 Carousel 
// 37.0 Dropdown & Dropup 
// 38.0 Data Tables 
// 39.0 Error Page 
// 40.0 Forms 
// 41.0 jQuery Vector Maps 
// 42.0 Label 
// 43.0 List Group
// 44.0 Google Maps 
// 45.0 Modal 
// 46.0 Nav 
// 47.0 Pagination 
// 48.0 Popover 
// 49.0 Progress-Bar 
// 50.0 Spinners 
// 51.0 State 
// 52.0 Table
// 53.0 Tooltips 
// 54.0 Scheme
// 55.0 Mega Menu
// 56.0 Bootstrap Date Time Picker


//--------------------------------------------//
// 格線
//--------------------------------------------//
$grid-width: 114rem;
$gutter-vertical: 1rem;
$gutter-horizontal: 2rem;

//--------------------------------------------//
// 容器、寬度
//--------------------------------------------//
$width: 1170px;
$container-width: 1170px;

//--------------------------------------------//
// Body
//--------------------------------------------//
$body-bg:       #f2f2f2 !default;
$body-color:    #484848 !default;

//--------------------------------------------//
// 文字大小
//--------------------------------------------//
// $defaultFont: futura-pt, sans-serif;
$base-font-size: 16px;
$base-font-size-l: $base-font-size * 1.15;
$base-font-size-l: $base-font-size * .85;
// $font-size-large: 64px;
// $font-size-large-mobile: 38px;
// $font-size-big: 48px;
// $font-size-big-small: 32px;
// $font-size-medium: 24px;
// $font-size-medium-small: 20px;
// $font-size-regular-bigger: 18px;
// $font-size-regular: 16px;

//--------------------------------------------//
// 行高
//--------------------------------------------//
// $base-line-height: 24px;
$base-line-height: 1.15;
//--------------------------------------------//
// 圓角
//--------------------------------------------//
$base-border-radius: 10px;

//--------------------------------------------//
// Color Black & White
//--------------------------------------------//
$black: #000 !default;
$white: #fff !default;

//--------------------------------------------//
// 11.0 primary Color Brand
//--------------------------------------------//
$primary: #3f51b5 !default;
$lighten-primary: #5c6bc0 !default;
$darken-primary: #303f9f !default;

//--------------------------------------------//
// 文字顏色
//--------------------------------------------//
$text-color: $black;
$text-shadow: 1px 1px 2px #092524;

//--------------------------------------------//
// 連結 Links 
//--------------------------------------------//
$link-color:            $body-color !default;
$link-decoration:       none !default;
$link-hover-color:      darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

//--------------------------------------------//
// 背景
//--------------------------------------------//
$base-background: #efefef;

//--------------------------------------------//
// 線條
//--------------------------------------------//
$base-divider: #efefef;

//--------------------------------------------//
// 邊框
//--------------------------------------------//
// $base-border-color: $gray-light;

//--------------------------------------------//
// 19.0 Transition 過渡效果
//--------------------------------------------//
$very-slow: all 1s ease-in-out !default;
$slow: all 0.75s ease-in-out !default;
$average: all 0.5s ease-in-out !default;
$fast: all 0.3s ease-in-out !default;
$very-fast: all 0.15s ease-in-out !default;

//--------------------------------------------//
// 2.0 灰色 Color Gray
//--------------------------------------------//
$lighten-gray: #d2d2d2 !default;
$gray-dark: #292b2c !default;
$gray: #d1d1d1 !default;
$gray-light: #e2e2e2 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
$darken-grey: #484848 !default;
$ultra-dark-gray: #212427 !default;

//--------------------------------------------//
// 2.0 色票 Colors
//--------------------------------------------//
$amber: #ffc107 !default;
$lighten-amber: #ffca28 !default;
$darken-amber: #ffb300 !default;

$blue: #2196f3 !default;
$lighten-blue: #42a5f5 !default;
$darken-blue: #1e88e5 !default;

$cyan: #00bcd4 !default;
$lighten-cyan: #4dd0e1 !default;
$darken-cyan: #00acc1 !default;

$green: #4caf50 !default;
$lighten-green: #66bb6a !default;
$darken-green: #43a047 !default;

$indigo: #3f51b5 !default;
$lighten-indigo: #5c6bc0 !default;
$darken-indigo: #303f9f !default;

$pink: #e91e63 !default;
$lighten-pink: #ec407a !default;
$darken-pink: #c2185b !default;

$purple: #673ab7 !default;
$lighten-purple: #7e57c2 !default;
$darken-purple: #5e35b1 !default;

$red: #f44336 !default;
$lighten-red: #ef5350 !default;
$darken-red: #e53935 !default;  

$orange: #ff9800 !default;
$lighten-orange: #ffa726 !default;
$darken-orange: #fb8c00 !default; 

$teal: #009688 !default;
$lighten-teal: #26a69a !default;
$darken-teal: #00897b !default;

$yellow: #fdd835 !default;
$lighten-yellow: #ffeb3b !default;
$darken-yellow: #fbc02d !default; 

//--------------------------------------------//
// 6.0 品牌 Color Scheme
//--------------------------------------------//
$brand-primary: $primary !default;
$brand-success: $green !default;
$brand-info: $blue !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;
$brand-gradient: linear-gradient(-90deg, $primary, #2f2c87) !default;

$danger-color: $red !default;
$default-color: $gray-light !default;
$info-color: $blue !default;
$inverse-color: $darken-grey !default; 
$success-color: $green !default;
$warning-color: $orange !default;

//--------------------------------------------//
// 2.0 theme Colors
//--------------------------------------------//
// $theme-color-interval: 8% !default;
// $yiq-contrasted-threshold:  150 !default;
// $yiq-text-dark: black !default;
// $yiq-text-light: $white !default;

//--------------------------------------------//
// 7.0 Colors Contextual
//--------------------------------------------//
// $danger-hover-color: $lighten-red !default;
// $default-hover-color: $gray !default;
// $info-hover-color: $lighten-blue !default;
// $primary-hover-color: $lighten-primary !default;
// $success-hover-color: $lighten-green !default;
// $warning-hover-color: $lighten-orange !default;
// $danger-hover-color: $lighten-red !default;
// $danger-active-color: $darken-red !default;

//--------------------------------------------//
// 8.0 社群色調Social Background Colors
//--------------------------------------------//
$facebook: #3B5998 !default;
$twitter: #00aced !default;
// $instagram: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
// radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
// radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
// radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
// radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
// radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
// radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
// linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%) !default; 
// $pinterest: #bd081c !default;
// $linkedin: #0077b5 !default;
// $snapchat: #fffc00 !default;
// $vk: #45668e !default;
// $youtube: #cd201f !default;
// $vimeo: #1ab7ea !default;
$googlep: #dd4b39 !default;

//--------------------------------------------//
// 9.0 選項 Options
//--------------------------------------------//
// $enable-rounded: true !default;
// $enable-shadows: false !default;
// $enable-gradients: false !default;
// $enable-transitions: true !default;
// $enable-hover-media-query: false !default;
// $enable-grid-classes: true !default;
// $enable-print-styles: true !default;
// $cdn: "../img/" !default;

//--------------------------------------------//
// 10.0 空間 Spacing
//--------------------------------------------//
// $spacer: 1rem !default;
// $spacer-x: $spacer;
// $spacer-y: $spacer;
// $spacers: ();
// $spacers: map-merge((
//   0: 0,
//   1: ($spacer * .25),
//   2: ($spacer * .5),
//   3: $spacer,
//   4: ($spacer * 1.5),
//   5: ($spacer * 3)
// ), $spacers);

// // This variable affects the `.h-*` and `.w-*` classes.
// $sizes: ();
// $sizes: map-merge((
//   25: 25%,
//   50: 50%,
//   75: 75%,
//   100: 100%,
//   auto: auto
// ), $sizes);
// // stylelint-enable

//--------------------------------------------//
// 22.0 品牌 Brand
//--------------------------------------------//
// $brand-height: $header-height !default;
// $brand-width: $sidebar-width !default;
// $brand-background: $primary !default;

// $brand-color: $white !default;
// $brand-font-size: 1.5rem !default;
// $brand-text-transform: uppercase !default;

// $hamburger-padding-x: 0px !default;
// $hamburger-padding-y: 0px !default;
// $hamburger-layer-width: 18px !default;
// $hamburger-layer-height: 2px !default;
// $hamburger-layer-spacing: 3px !default;
// $hamburger-layer-color: $body-color !default;
// $hamburger-layer-border-radius: 4px !default;
// $hamburger-hover-opacity: 1 !default;
// $hamburger-hover-transition-duration: 0.2s !default;
// $hamburger-hover-transition-timing-function: linear !default;

// $hamburger-hover-use-filter: false !default;
// $hamburger-hover-filter: opacity(100%) !default;




//--------------------------------------------//
// 22.0 _variables-component
//--------------------------------------------//
// @import '../abstracts/variables-component';

//--------------------------------------------//
// 22.0 _variables-button
//--------------------------------------------//
// @import '../abstracts/variables-button';

//--------------------------------------------//
// 22.0 _variables-grid
//--------------------------------------------//
// @import '../abstracts/variables-grid';

//--------------------------------------------//
// 22.0 _variables-header
//--------------------------------------------//
// @import '../abstracts/variables-header';

//--------------------------------------------//
// 22.0 _variables-_scheme-amber
//--------------------------------------------//
// @import '../abstracts/variables-scheme-amber';

//--------------------------------------------//
// 22.0 _variables-sidebar
//--------------------------------------------//
// @import '../abstracts/variables-sidebar';

//--------------------------------------------//
// 22.0 _variables-typography
//--------------------------------------------//
// @import '../abstracts/variables-typography';

//--------------------------------------------//
// 22.0 _variables-z-index
//--------------------------------------------//
// @import '../abstracts/variables-z-index';

