
$primary: $amber;
$lighten-primary: $lighten-amber;
$darken-primary: $darken-amber;
$primary-hover-color: $lighten-primary;
$brand-background: $primary;
$card-tools-hover-color: $primary;
$badge-primary: $primary;
$badge-primary-hover: $primary-hover-color;

$btn-primary-bg: $primary;
$btn-primary-border: $primary;
$btn-primary-font-color: $primary;

$modal-primary: $primary;

$progress-bar-primary: $primary;

$app-sidebar-toggle-button: $primary;
$app-sidebar-toggle-button-hover: $lighten-primary;

$data-tables-sorting-border: 2px solid $primary;
$data-tables-paginate-current-bg: $primary;

$input-border-focus: $primary;

$on-switch-primary-color: $primary;

$custom-file-button-bg: $primary;

$list-group-active-bg: $primary;

$list-group-active-border: $primary;

$list-group-focus-active-border: $primary;

$list-group-hover-active-border: $lighten-primary;

$list-group-link-active-bg: $primary;

$nav-tabs-active-link-hover-color: $primary;

$nav-tabs-active-link-border-color: $primary;

$pagination-active-bg: $primary;