//--------------------------------------------//
// 17.0 Component Settings
//--------------------------------------------//
// 1.0 Core
// 2.0 Colors
// 2.0 Grayscale Colors
// 4.0 Lighten Colors
// 5.0 Darken Colors
// 6.0 Reassign Color Vars to Semantic Color Scheme
// 7.0 Colors Contextual
// 8.0 Social Background Colors
// 9.0 Options
// 10.0 Spacing
// 11.0 Body
// 12.0 Links
// 13.0 Grid
// 14.0 Fonts
// 15.0 Headings
// 16.0 Other Typography
// 17.0 Component Settings
// 18.0 Z-index
// 19.0 Transition
// 20.0 Sidebar
// 21.0 Header
// 22.0 Brand
// 23.0 Alerts 
// 24.0 App 
// 25.0 Authentication 
// 26.0 Badge 
// 27.0 Buttons
// 28.0 Btn Background Color, Font Color & Border Color
// 29.0 Btn Sizes 
// 30.0 Btn Font Size
// 31.0 Btn Social
// 32.0 Btn Social Size
// 33.0 Breadcrumb 
// 34.0 Card 
// 35.0 Chartist 
// 36.0 Carousel 
// 37.0 Dropdown & Dropup 
// 38.0 Data Tables 
// 39.0 Error Page 
// 40.0 Forms 
// 41.0 jQuery Vector Maps 
// 42.0 Label 
// 43.0 List Group
// 44.0 Google Maps 
// 45.0 Modal 
// 46.0 Nav 
// 47.0 Pagination 
// 48.0 Popover 
// 49.0 Progress-Bar 
// 50.0 Spinners 
// 51.0 State 
// 52.0 Table
// 53.0 Tooltips 
// 54.0 Scheme
// 55.0 Mega Menu
// 56.0 Bootstrap Date Time Picker

// //--------------------------------------------//
// // 17.0 Component Settings
// //--------------------------------------------//
// $line-height-lg: (4 / 3) !default;
// $line-height-sm: 1.5 !default;

// $border-radius: .25rem !default;
// $border-radius-lg: .3rem !default;
// $border-radius-sm: .2rem !default;
// $border-zero: 0px !default;
// $border-solid: 1px solid !default;
// $border-dashed: 1px dashed !default;
// $border-dot: 1px dotted !default;
// $border-color: #e2e2e2 !default;
// $border-success: 1px solid $darken-green !default; 
// $border-info: 1px solid $darken-blue !default; 
// $border-warning: 1px solid $darken-yellow !default;
// $border-danger: 1px solid $darken-red !default;
// $border-inverse-color: #656565 !default;

// $component-active-color: $white !default;
// $component-active-bg:    $brand-primary !default;

// $caret-width: .3em !default;

// $transition-base: all .2s ease-in-out !default;
// $transition-fade: opacity .15s linear !default;
// $transition-collapse:    height .35s ease !default;

// $thumbnail-padding: .25rem !default;
// $thumbnail-bg: $body-bg !default;
// $thumbnail-border-width: $border-width !default;
// $thumbnail-border-color: #ddd !default;
// $thumbnail-border-radius: $border-radius !default;
// $thumbnail-box-shadow: 0 1px 2px rgba($black,.075) !default;
// $thumbnail-transition: all .2s ease-in-out !default;

// $figure-caption-font-size: 90% !default;
// $figure-caption-color: $gray-light !default;

// $cursor-disabled: not-allowed !default;
//--------------------------------------------//
// 23.0 Alerts 
//--------------------------------------------//
$alert-padding: 0.75rem 1rem !default;
$alert-border-radius: $border-radius !default;
$alert-font-size: 15px !default;
$alert-icon-size: 16px !default;
$alert-font-weight: 500 !default;
$alert-font-color: $white !default;
$alert-font-color-hover: $white !default;
$alert-icon-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2) !default;

$alert-success-color: $success-color !default;
$alert-info-color: $info-color !default;
$alert-warning-color: $warning-color !default;
$alert-danger-color: $danger-color !default;

$alert-box-font-color: $body-color !default;  
$alert-box-bg-color: $white !default;
$alert-icon-width: 50px !default;
$alert-icon-box-color: $white !default;

$alert-content-padding: 0.75rem 0rem !default;
$alert-content-margin: 0 15px 0px 60px !default;

$alert-circle-font-color: $body-color !default;
$alert-circle-bg-color: $white !default;
$alert-circle-icon-width: 30px !default;
$alert-circle-icon-height: 30px !default;

$alert-success-link-color: darken($alert-success-color, 30%) !default;                  
$alert-danger-link-color: darken($alert-danger-color, 30%) !default;                  
$alert-info-link-color: darken($alert-info-color, 30%) !default;                  
$alert-warning-link-color: darken($alert-warning-color, 30%) !default;    



//--------------------------------------------//
// 24.0 App 
//--------------------------------------------//
$app-sidebar-width: 250px !default; 
$app-sidebar-toggle-button: $primary !default;
$app-sidebar-toggle-button-hover: $lighten-primary !default;

//--------------------------------------------//
// 25.0 Authentication 
//--------------------------------------------//
$authentication-max-width: 390px !default;
$authentication-bg: $white !default;
$authentication-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.035) !default;

//--------------------------------------------//
// 26.0 Badge 
//--------------------------------------------//
$badge-padding: 0.25rem 0.45rem !default;
$badge-font-size: 11px !default;
$badge-font-color: $white !default;
$badge-default-font-color: $body-color !default;
$badge-border: 1px solid !default;
$badge-pill-radius: 20px !default;

$badge-circle-padding: 3px 0px !default;
$badge-circle-size: 20px !default;

$badge-success: $success-color !default;
$badge-danger: $danger-color !default;
$badge-info: $info-color !default;
$badge-warning: $warning-color !default;
$badge-primary: $primary !default;
$badge-default: $gray !default;

$badge-success-hover: $success-hover-color !default;
$badge-danger-hover: $danger-hover-color !default;
$badge-info-hover: $info-hover-color !default;
$badge-warning-hover: $warning-hover-color !default;
$badge-primary-hover: $primary-hover-color !default;
$badge-default-hover: $gray-light !default;

//--------------------------------------------//
// 33.0 Breadcrumb 
//--------------------------------------------//
$breadcrumb-font-size: 13px !default;
$breadcrumb-font-weight: 400 !default;
$breadcrumb-bg: transparent !default;
$breadcrumb-before-padding: 0rem 0.3rem !default;
$breadcrumb-before-font: $font-family-sans-serif !default;
$breadcrumb-before-content: "/" !default;
$breadcrumb-before-size: 14px !default; 

//--------------------------------------------//
// 34.0 Card 
//--------------------------------------------//
$card-border: $border-solid darken($border-color, 2%) !default;
$card-border-dashed: $border-dashed darken($border-color, 10%) !default;
$card-border-dot: $border-dot darken($border-color, 10%) !default;
$card-bg: $white !default;
$card-second-color: $body-color !default;
$card-heading-padding: 1rem !default;
$card-body-padding: 0rem 1rem 1rem 1rem !default;
$card-border-radius: 0rem !default;
$card-style-shadow: 0px 4px 3px -2px rgba(0,0,0,0.15) !default;
$card-tools-color: rgba(0,0,0,0.4) !default;
$card-tools-font-size: .875rem !default;
$card-tools-hover-color: $primary !default;
$card-tools-close-color: $red !default;
$card-box-shadow: 0px 0px 2px 3px rgba(0,0,0,0.035) !default;
$card-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !default;
$card-refresh-bg: rgba(255,255,255,0.9) !default;

//--------------------------------------------//
// 35.0 Chartist 
//--------------------------------------------//
$ct-container-ratio: (1/1.618) !default;
$ct-text-color: $body-color !default;
$ct-text-size: $font-size-base !default;
$ct-text-align: flex-start !default;
$ct-text-justify: flex-start !default;
$ct-text-line-height: 1 !default;
$ct-grid-color: rgba(0, 0, 0, 0.25) !default;
$ct-grid-dasharray: 2px !default;
$ct-grid-width: 1px !default;
$ct-grid-background-fill: none !default;
$ct-line-width: 4px !default;
$ct-line-dasharray: false !default;
$ct-point-size: 10px !default;
$ct-point-shape: round !default;
$ct-area-opacity: 0.1 !default;
$ct-bar-width: 10px !default;
$ct-donut-width: 60px !default;
$ct-series-colors: (
	#3f51b5,
	#f05b4f,
	#f4c63d,
	#d17905,
	#453d3f,
	#59922b,
	#0544d3,
	#6b0392,
	#f05b4f,
	#dda458,
	#eacf7d,
	#86797d,
	#b2c326,
	#6188e2,
	#a748ca
) !default;

//--------------------------------------------//
// 36.0 Carousel 
//--------------------------------------------//
$carousel-control-color: $white !default;
$carousel-control-width: 15% !default;
$carousel-control-opacity: .5 !default;

$carousel-indicator-width: 30px !default;
$carousel-indicator-height: 3px !default;
$carousel-indicator-spacer: 3px !default;
$carousel-indicator-active-bg: $white !default;

$carousel-caption-width: 70% !default;
$carousel-caption-color: $white !default;

$carousel-control-icon-width: 20px !default;

$carousel-control-prev-icon-bg: str-replace(url("data:image/svg+xml !default;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23") !default;
$carousel-control-next-icon-bg: str-replace(url("data:image/svg+xml !default;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$carousel-control-color}' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23") !default;

$carousel-transition: transform .6s ease-in-out !default;

//--------------------------------------------//
// 37.0 Dropdown & Dropup 
//--------------------------------------------//
$drop-padding: 0.4rem 0.75rem !default;
$dropdown-min-width: 140px !default;
$caret-width: 0.3em !default;
$dropdown-bg: $white !default;

//--------------------------------------------//
// 38.0 Data Tables 
//--------------------------------------------//
$data-tables-font-size: $font-size-base !default;
$data-tables-border: $border-solid $border-color !default;
$data-tables-sorting-border: 2px solid $primary !default;
$data-tables-font-size-head-footer: 14px !default;
$data-tables-paginate-bg: transparent !default;
$data-tables-paginate-padding: 6px 11px !default;
$data-tables-paginate-current-bg: $primary !default;
$data-tables-paginate-hover-bg: $body-bg !default;
$data-tables-second-color: $white !default;

//--------------------------------------------//
// 39.0 Error Page 
//--------------------------------------------//
$error-text-shadow: 0px 0px 12px rgba(0,0,0,0.15) !default;

//--------------------------------------------//
// 40.0 Forms 
//--------------------------------------------//
$input-padding-x: 0.75rem !default;
$input-padding-y: 0.5rem !default;
$input-line-height: 1.25 !default;

$input-bg: $white !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $body-color !default;
$input-border: $border-solid $border-color !default;
$input-border-color: $border-color !default;
$input-btn-border-width: $border-width !default;
$input-box-shadow: inset 0 1px 1px rgba($black,.075) !default;
 
$input-border-radius: $border-radius !default;

$input-bg-focus: $input-bg !default;
$input-border-focus: $primary !default;
$input-box-shadow-focus: $input-box-shadow, rgba($input-border-focus, .6) !default;
$input-color-focus: $input-color !default;

$input-color-placeholder: lighten($body-color, 10%) !default;

$form_help_block-font-size: 0.75rem !default;

$input-padding-x-sm: 1rem !default;
$input-padding-y-sm: 0.25rem !default;
$input-border-radius-sm: 4px !default;
$input-height-sm: 24px !default;

$input-height-lg: 34px !default;
$input-padding-x-lg: 1rem !default;
$input-padding-y-lg: 0.75rem !default;
$input-border-radius-lg: 6px !default;

$input-font-size-sm: $font-size-xs !default;
$input-font-size-lg: $font-size-lg !default;

$input-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !default;

$form-text-margin-top: 0.25rem !default;
$form-feedback-margin-top: $form-text-margin-top !default;
$form-check-margin-bottom: 0.5rem !default;
$form-check-input-gutter: 1.25rem !default;
$form-check-input-margin-y: 0.25rem !default;
$form-check-input-margin-x: 0.25rem !default;
$form-check-inline-margin-x: 1rem !default;
$form-group-margin-bottom: 1rem !default;

$input-group-addon-bg: #f2f2f2 !default;
$input-group-addon-border-color: $input-border-color !default;

$off-switch-color: $gray !default;
$off-switch-background-color: rgba(0,0,0,.2) !default;
$on-switch-color: $primary !default;
$on-switch-background-color: rgba($on-switch-color, .50) !default;

$on-switch-primary-color: $primary !default;

$custom-file-height: 2.3rem !default;
$custom-file-width: 100% !default;

$custom-file-padding-x: 0.75rem !default;
$custom-file-padding-y: 0.45rem !default;
 
$custom-file-color: $body-color !default;
$custom-file-bg: $white !default;
$custom-file-border-radius: $border-radius !default;
$custom-file-border-width:  $border-width !default;
$custom-file-button-color: $white !default;
$custom-file-button-bg: $primary !default;
$custom-file-text: (
	placeholder: (
		en: "Choose file..."
	),
	button-label: (
		en: "Browse"
	)
) !default;

//--------------------------------------------//
// 41.0 jQuery Vector Maps 
//--------------------------------------------//
$jqvmap-height: 285px !default;

//--------------------------------------------//
// 42.0 Label 
//--------------------------------------------//
$label-padding: 0.25rem 0.5rem !default;
$label-font-size: 12px !default;
$label-line-height: 1.25 !default;

//--------------------------------------------//
// 43.0 List Group
//--------------------------------------------//
$list-group-broder: $border-solid $border-color !default;
$list-group-border-color: $gray-light !default;
$list-group-border-radius: $border-radius !default;
$list-group-item-padding-x: 1.25rem !default;
$list-group-item-padding-y: .75rem !default;
$list-group-bg: $white !default;
$list-group-color: $white !default;
$list-group-hover-bg: $gray-lighter !default;
$list-group-focus-bg: $white !default;
$list-group-border-width: 1px !default;
$list-group-active-bg: $primary !default;
$list-group-active-border: $primary !default;
$list-group-active-color: $white !default;

$list-group-focus-active-border: $primary !default;
$list-group-hover-active-border: $lighten-primary !default;

$list-group-disabled-color: lighten($body-color, 20%) !default;
$list-group-disabled-bg: $white !default;

$list-group-link-color: $body-color !default;
$list-group-link-hover-color: $white !default;
 
$list-group-link-active-bg: $primary !default;
$list-group-link-active-color: $white !default;

$input-btn-border-width: $border-width !default;

//--------------------------------------------//
// 44.0 Google Maps 
//--------------------------------------------//
$google-map-height: 500px !default;

//--------------------------------------------//
// 45.0 Modal 
//--------------------------------------------//
$modal-inner-padding: 1rem !default;
$modal-border: 0px !default;
$modal-border-radius: 0px !default;
 
$modal-dialog-margin: 10px !default;
$modal-dialog-sm-up-margin-y: 30px !default; 
$modal-title-line-height: 1.25 !default;

$modal-content-bg: $white !default;
$modal-content-border-color: rgba($black,.2) !default;
$modal-content-xs-box-shadow: 0 3px 9px rgba($black,.5) !default;
$modal-content-sm-up-box-shadow: 0 5px 15px rgba($black,.5) !default;

$modal-backdrop-bg: $black !default;
$modal-backdrop-opacity: .5 !default;
$modal-header-border-color: $border-color !default;
$modal-footer-border: $border-solid $border-color !default;
$modal-footer-bg: transparent !default;
$modal-header-padding: 1rem !default;

$modal-danger-color: $danger-color !default;
$modal-default-color: $default-color !default;
$modal-info-color: $info-color !default;
$modal-primary: $primary !default;
$modal-success-color: $success-color !default;
$modal-warning-color: $warning-color !default;

$modal-lg: 800px !default;
$modal-md: 500px !default;
$modal-sm: 300px !default;

$modal-transition: transform .3s ease-out !default;

//--------------------------------------------//
// 46.0 Nav 
//--------------------------------------------//
$nav-bg: #f2f2f2 !default;
$nav-link: $body-color !default;
$nav-link-padding: 0.65rem 1rem !default;
$nav-disabled-link-color: lighten($body-color,20%) !default;
$nav-tabs-border-color: $border-color !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-active-link-hover-color: $primary !default;
$nav-tabs-active-link-hover-bg: $nav-bg !default;
$nav-tabs-active-link-border-color: $primary !default;
$nav-tabs-border-width: 0px !default;

//--------------------------------------------//
// 47.0 Pagination 
//--------------------------------------------//
$pagination-link-padding: 0.5rem 0.85rem !default;
$pagination-mb: 1rem !default;
$pagination-size-lg: 0.85rem 1.35rem !default;
$pagination-size-sm: 0.15rem 0.4rem !default;
$pagination-hover-bg: $body-bg !default;
$pagination-focus-bg: $gray-lighter !default;
$pagination-active-bg: $primary !default;
$pagination-active-color: $white !default;

//--------------------------------------------//
// 48.0 Popover 
//--------------------------------------------//
$popover-inner-padding: 0px !default;
$popover-bg: $white !default;
$popover-max-width: 276px !default;
$popover-border-width: $border-width !default;
$popover-border-color: rgba($black,.2) !default;
$popover-box-shadow:  0 5px 10px rgba($black,.2) !default;

$popover-title-bg: darken($popover-bg, 3%) !default;
$popover-title-padding-x: 14px !default;
$popover-title-padding-y: 8px !default;

$popover-content-padding-x: 14px !default;
$popover-content-padding-y: 9px !default;

$popover-arrow-width: 10px !default;
$popover-arrow-color: $popover-bg !default;

$popover-arrow-outer-width: ($popover-arrow-width + 1px) !default;
$popover-arrow-outer-color: fade-in($popover-border-color, .05) !default;

//--------------------------------------------//
// 49.0 Progress-Bar 
//--------------------------------------------//
$progress-height: 0.5rem !default;
$progress-font-size: .75rem !default;
$progress-line-height: 1 !default;
$progress-bg: $default-color !default;
$progress-border-radius: $border-radius !default;
$progress-box-shadow: inset 0 .1rem .1rem rgba($black,.1) !default;
$progress-bar-color: $white !default;
$progress-bar-bg: $gray !default;
$progress-bar-animation-timing: 1s linear infinite !default;

$progress-bar-font-size: 8px !default;
$progress-bar-xs-font-size: 8px !default;
$progress-bar-md-font-size: 8px !default;
$progress-bar-lg-font-size: 12px !default;
$progress-bar-xl-font-size: 15px !default;

$progress-bar-danger: $danger-color !default;
$progress-bar-default: darken($default-color, 7%) !default;
$progress-bar-info: $info-color !default;
$progress-bar-primary: $primary !default;
$progress-bar-success: $success-color !default;
$progress-bar-warning: $warning-color !default;

$progess-bar-xs: 0.25rem !default;
$progess-bar-sm: 0.5rem !default;
$progess-bar-md: 0.75rem !default;
$progess-bar-lg: 1rem !default;
$progess-bar-xl: 1.25rem !default;

//--------------------------------------------//
// 50.0 Spinners 
//--------------------------------------------//
$spinner-width: 3rem !default;
$spinner-height: 3rem !default;
$spinner-border-radius: 50% !default;

$spinner-xs-width: 1.15rem !default;
$spinner-xs-height: 1.15rem !default;

$spinner-sm-width: 1.5rem !default;
$spinner-sm-height: 1.5rem !default;

$spinner-md-width: 2.25rem !default;
$spinner-md-height: 2.25rem !default;

$spinner-lg-width: 3rem !default;
$spinner-lg-height: 3rem !default;

$spinner-xl-width: 4rem !default;
$spinner-xl-height: 4rem !default;

$spinner-before-width: 50% !default;
$spinner-before-height: 50% !default;
$spinner-before-radius: 100% 0 0 0 !default;

$spinner-after-width: 75% !default;
$spinner-after-height: 75% !default;
$spinner-after-radius: 50% !default;

$spinner2-width: 3rem !default;
$spinner2-height: 3rem !default;
$spinner2-border-radius: 50% !default;

$spinner2-after-width: 3rem !default;
$spinner2-after-height: 3rem !default;
$spinner2-after-radius: 50% !default;

$spinner2-border-top: 0.5rem solid rgba(169,169,169, 0.3) !default;
$spinner2-border-bottom: 0.5rem solid rgba(169,169,169, 0.3) !default;
$spinner2-border-left: 0.5rem solid !default;
$spinner2-border-right: 0.5rem solid rgba(169,169,169, 0.3) !default;

$spinner2-xs-border-top: 0.15rem solid rgba(169,169,169, 0.3) !default;
$spinner2-xs-border-bottom: 0.15rem solid rgba(169,169,169, 0.3) !default;
$spinner2-xs-border-left: 0.15rem solid !default;
$spinner2-xs-border-right: 0.15rem solid rgba(169,169,169, 0.3) !default;

$spinner2-sm-border-top: 0.35rem solid rgba(169,169,169, 0.3) !default;
$spinner2-sm-border-bottom: 0.35rem solid rgba(169,169,169, 0.3) !default;
$spinner2-sm-border-left: 0.35rem solid !default;
$spinner2-sm-border-right: 0.35rem solid rgba(169,169,169, 0.3) !default;

$spinner3-width: 3rem !default;
$spinner3-height: 3rem !default;
$spinner3-border-radius: 50% !default;
$spinner3-font-size: 8px !default;

$spinner3-before-width: 50% !default;
$spinner3-before-height: 50% !default;
$spinner3-before-border-radius: 100% 0 0 0 !default;

$spinner3-after-width: 75% !default;
$spinner3-after-height: 75% !default;
$spinner3-after-border-radius: 50% !default;

//--------------------------------------------//
// 51.0 State 
//--------------------------------------------//
$state-success-text: #3c763d !default; 
$state-success-bg: #dff0d8 !default;
$state-success-border: darken($state-success-bg, 5%) !default;

$state-info-text: #31708f !default;
$state-info-bg:  #d9edf7 !default;
$state-info-border: darken($state-info-bg, 7%) !default;

$state-warning-text: #8a6d3b !default;
$state-warning-bg: #fcf8e3 !default;
$mark-bg: $primary !default;
$state-warning-border: darken($state-warning-bg, 5%) !default;

$state-danger-text: #a94442 !default;
$state-danger-bg: #f2dede !default;
$state-danger-border: darken($state-danger-bg, 5%) !default;

//--------------------------------------------//
// 52.0 Table
//--------------------------------------------//
$table-cell-padding: 0.5rem !default;
$table-sm-cell-padding: 0.25rem 0.5rem !default;
$table-bg: $white !default;
$table-font-color: $body-color !default;
$table-border: $border-solid $border-color !default;
$table-font-size: $font-size-base !default;

$table-inverse-bg: $ultra-dark-gray !default;
$table-inverse-color: rgba(255,255,255, 0.55) !default;
$table-inverse-bg-hover: lighten($table-inverse-bg,5%) !default;

$table-bg-accent: rgba($black,.05) !default;
$table-bg-hover: rgba($black,.075) !default;
$table-bg-active: $table-bg-hover !default;

$table-head-bg: $body-bg !default;
$table-head-color: $body-color !default;
$table-head-font-size: $font-size-base !default;

$table-border-width: 1px !default;
$table-border-color: $border-color !default;

//--------------------------------------------//
// 53.0 Tooltips 
//--------------------------------------------//
$tooltip-max-width: 200px !default;
$tooltip-color: $white !default;
$tooltip-bg: $black !default;
$tooltip-opacity: .9 !default;
$tooltip-padding-y: 3px !default;
$tooltip-padding-x: 8px !default;
$tooltip-margin: 3px !default;
$tooltip-arrow-width: 5px !default;
$tooltip-arrow-color: $tooltip-bg !default;

//--------------------------------------------//
// 54.0 Scheme
//--------------------------------------------//
// @import "../themes/_scheme-amber.scss";
// @import "../themes/_scheme-cyan.scss";
// @import "../themes/_scheme-blue.scss";
// @import "../themes/_scheme-green.scss";
// @import "../themes/_scheme-pink.scss";
// @import "../themes/_scheme-purple.scss";
// @import "../themes/_scheme-red.scss";
// @import "../themes/_scheme-orange.scss";
// @import "../themes/_scheme-teal.scss";

//--------------------------------------------//
// 55.0 Mega Menu
//--------------------------------------------//
$mega-menu-margin: 1.5rem !default;
$mega-menu-padding: 1rem 1.5rem !default;
$mega-menu-title-padding: 1rem !default;
$mega-menu-height: 280px !default;
$mega-menu-left: $sidebar-width !default;

$sub-link-padding: 0rem 1.75rem 0rem 0rem !default;
$sub-link-margin: 1rem 0rem 0rem 0rem !default;
$sub-link-background-hover: $white !default;

$sub-link-after-content: "\f105" !default;
$sub-link-after-family: FontAwesome !default;
$sub-link-after-font-size: 1rem !default;
$sub-link-after-top: -1px !default;
$sub-link-after-right: 0.6rem !default;

$sub-link-dropdown-after-content: "\f107" !default;
$sub-dropdown-margin-bottom: 0.5rem !default; 
$sub-dropdown-item-padding: 0.5rem 1rem !default; 

//--------------------------------------------//
// 56.0 Date Range Picker
//--------------------------------------------//
$prefix-class: daterangepicker !default;
$arrow-size: 7px !default;

// Date Range Picker Colors
$daterangepicker-color: inherit !default;
$daterangepicker-bg-color: $white !default;

$daterangepicker-cell-color: $daterangepicker-color !default;
$daterangepicker-cell-border-color: transparent !default;
$daterangepicker-cell-bg-color: $daterangepicker-bg-color !default;

$daterangepicker-cell-hover-color: $daterangepicker-color !default;
$daterangepicker-cell-hover-border-color: $daterangepicker-cell-border-color !default;
$daterangepicker-cell-hover-bg-color: $body-bg !default;

$daterangepicker-in-range-color: $body-color !default;
$daterangepicker-in-range-border-color: transparent !default;
$daterangepicker-in-range-bg-color: $body-bg !default;

$daterangepicker-active-color: $white !default;
$daterangepicker-active-bg-color: $primary !default;
$daterangepicker-active-border-color: transparent !default;

$daterangepicker-unselected-color: $body-color !default;
$daterangepicker-unselected-border-color: transparent !default;
$daterangepicker-unselected-bg-color: $white !default;

// Date Range Picker
$daterangepicker-width: 278px !default;
$daterangepicker-padding: 4px !default;
$daterangepicker-z-index: 100 !default;

$daterangepicker-border-size: 1px !default;
$daterangepicker-border-color: $border-color !default;
$daterangepicker-border-radius: 4px !default;

// Date Range Picker Calendar
$daterangepicker-calendar-margin: $daterangepicker-padding !default;
$daterangepicker-calendar-bg-color: $daterangepicker-bg-color !default;

$daterangepicker-calendar-border-size: 1px !default;
$daterangepicker-calendar-border-color: $daterangepicker-bg-color !default;
$daterangepicker-calendar-border-radius: $daterangepicker-border-radius !default;

// Date Range Picker Calendar Cells
$daterangepicker-cell-size: 20px !default;
$daterangepicker-cell-width: $daterangepicker-cell-size !default;
$daterangepicker-cell-height: $daterangepicker-cell-size !default;

$daterangepicker-cell-border-radius: $daterangepicker-calendar-border-radius !default;
$daterangepicker-cell-border-size: 1px !default;

// Date Range Picker Dropdowns
$daterangepicker-dropdown-z-index: $daterangepicker-z-index + 1 !default;

// Date Range Picker Controls
$daterangepicker-control-height: 30px !default;
$daterangepicker-control-line-height: $daterangepicker-control-height !default;
$daterangepicker-control-color: $body-color !default;

$daterangepicker-control-border-size: 1px !default;
$daterangepicker-control-border-color: $border-color !default;
$daterangepicker-control-border-radius: $border-radius !default;

$daterangepicker-control-active-border-size: 1px !default;
$daterangepicker-control-active-border-color: $primary !default;
$daterangepicker-control-active-border-radius: $daterangepicker-control-border-radius !default;

$daterangepicker-control-disabled-color: $border-color !default;

// Date Range Picker Ranges
$daterangepicker-ranges-color: $body-color !default;
$daterangepicker-ranges-bg-color: $body-bg !default;

$daterangepicker-ranges-border-size: 1px !default;
$daterangepicker-ranges-border-color: $daterangepicker-ranges-bg-color !default;
$daterangepicker-ranges-border-radius: $daterangepicker-border-radius !default;

$daterangepicker-ranges-hover-color: $white !default;
$daterangepicker-ranges-hover-bg-color: $primary !default;
$daterangepicker-ranges-hover-border-size: $daterangepicker-ranges-border-size !default;
$daterangepicker-ranges-hover-border-color: $daterangepicker-ranges-hover-bg-color !default;
$daterangepicker-ranges-hover-border-radius: $daterangepicker-border-radius !default;

$daterangepicker-ranges-active-border-size: $daterangepicker-ranges-border-size !default;
$daterangepicker-ranges-active-border-color: $daterangepicker-ranges-bg-color !default;
$daterangepicker-ranges-active-border-radius: $daterangepicker-border-radius !default;


$btn-box-shadow:              inset 0 1px 0 rgba($white, .15), 0 1px 1px rgba($black, .075) !default;
$btn-focus-width:             1px !default;
$input-focus-bg:                        $input-bg !default;
$input-focus-border-color:              lighten($component-active-bg, 25%) !default;
$input-focus-color:                     $input-color !default;
$input-focus-width:                     1 !default;
$input-focus-box-shadow:              	0 !default;

$theme-colors: () !default;
$theme-colors: map-merge((
  "primary":    $primary,
), $theme-colors) !default;