//--------------------------------------------//
// 27.0 Buttons
//--------------------------------------------//
$btn-font-color: $white !default; 
$btn-font-size: 0.875rem !default;                     
$btn-bg: transparent !default;                       
$btn-line-height: 1.25 !default;                      
$btn-padding: 0.5rem 1rem !default;   

$btn-circle-width: 40px !default;
$btn-circle-height: 40px !default;

$btn-social-width: 40px !default;                       
$btn-social-height: 40px !default;    

$btn-social-label-padding: 0.5rem 0.75rem !default;

$btn-social-xl-size: 24px !default;                      
$btn-social-lg-size: 20px !default;                 
$btn-social-md-size: 16px !default;                     
$btn-social-sm-size: 14px !default;                  
$btn-social-xs-size: 12px !default;  

$btn-padding-x: 1rem !default; 
$btn-padding-y: .5rem !default; 

$btn-o-border: $border-solid !default;
$btn-o-bg: transparent !default;

//--------------------------------------------//
// 28.0 Btn Background Color, Font Color & Border Color
//--------------------------------------------//
$btn-danger-bg: $danger-color !default;
$btn-danger-border: $danger-color !default;
$btn-danger-font-color: $danger-color !default;

$btn-default-bg: $default-color !default;
$btn-default-border: $default-color !default;
$btn-default-font-color: $body-color !default;

$btn-info-bg: $info-color !default;
$btn-info-border: $info-color !default;
$btn-info-font-color: $info-color !default;

$btn-inverse-bg: $inverse-color !default;
$btn-inverse-border: $inverse-color !default;
$btn-inverse-font-color: $body-color !default;

$btn-primary-bg: $primary !default;
$btn-primary-border: $primary !default;
$btn-primary-font-color: $primary !default;

$btn-success-bg: $success-color !default;
$btn-success-border: $success-color !default;
$btn-success-font-color: $success-color !default;

$btn-warning-bg: $warning-color !default;
$btn-warning-border: $warning-color !default;
$btn-warning-font-color: $warning-color !default;

//--------------------------------------------//
// 29.0 Btn Sizes 
//--------------------------------------------//
$btn-xl: 1rem 1.5rem !default;
$btn-lg: 0.75rem 1.25rem !default;
$btn-md: 0.5rem 1rem !default;
$btn-sm: 0.25rem 1rem !default;
$btn-xs: 0rem 0.5rem !default;

//--------------------------------------------//
// 30.0 Btn Font Size
//--------------------------------------------//
$btn-xl-font-size: 20px !default;
$btn-lg-font-size: 18px !default;
$btn-md-font-size: 16px !default;
$btn-sm-font-size: 14px !default;
$btn-xs-font-size: 12px !default;

//--------------------------------------------//
// 31.0 Btn Social
//--------------------------------------------//
$btn-facebook-bg: $facebook !default;
$btn-facebook-border: $border-solid $facebook !default;
$btn-facebook-bg-hover: lighten($facebook, 8%) !default;

$btn-googlep-bg: $googlep !default;
$btn-googlep-border: $border-solid $googlep !default;
$btn-googlep-bg-hover: lighten($googlep, 8%) !default;

$btn-instagram-bg: $instagram !default;
$btn-instagram-border: $border-solid $instagram !default;
$btn-instagram-opacity-hover: 0.8 !default; 

$btn-linkedin-bg: $linkedin !default;
$btn-linkedin-border: $border-solid $linkedin !default;
$btn-linkedin-bg-hover: lighten($linkedin, 8%) !default;

$btn-pinterest-bg: $pinterest !default;
$btn-pinterest-border: $border-solid $pinterest !default;
$btn-pinterest-bg-hover: lighten($pinterest, 8%) !default;

$btn-snapchat-bg: $snapchat !default;
$btn-snapchat-border: $border-solid $snapchat !default; 
$btn-snapchat-bg-hover: lighten($snapchat, 8%) !default;

$btn-twitter-bg: $twitter !default;
$btn-twitter-border: $border-solid $twitter !default;
$btn-twitter-bg-hover: lighten($twitter, 8%) !default;

$btn-vk-bg: $vk !default;
$btn-vk-border: $border-solid $vk !default;
$btn-vk-bg-hover: lighten($vk, 8%) !default;

$btn-vimeo-bg: $vimeo !default;
$btn-vimeo-border: $border-solid $vimeo !default;
$btn-vimeo-bg-hover: lighten($vimeo, 8%) !default;

$btn-youtube-bg: $youtube !default;
$btn-youtube-border: $border-solid $youtube !default;
$btn-youtube-bg-hover: lighten($youtube, 8%) !default;

//--------------------------------------------//
// 32.0 Btn Social Size
//--------------------------------------------//
$btn-social-xl-width: 75px !default;
$btn-social-xl-height: 75px !default;

$btn-social-lg-width: 65px !default;
$btn-social-lg-height: 65px !default;

$btn-social-md-width: 50px !default;
$btn-social-md-height: 50px !default;

$btn-social-sm-width: 40px !default;
$btn-social-sm-height: 40px !default; 

$btn-social-xs-width: 30px !default;
$btn-social-xs-height: 30px !default;