//--------------------------------------------//
// 21.0 Header
//--------------------------------------------//
$header-height: 60px !default;
$header-font-size: 1rem !default;
$header-gradient: linear-gradient(90deg, $primary, #2f2c87) !default;

