//--------------------------------------------//
// 20.0 Sidebar
//--------------------------------------------//
$sidebar-width: 230px !default;
$sidebar-collapse-width: 60px !default;
$sidebar-bg: $ultra-dark-gray !default;

$sidebar-header-font-size: 0.75rem !default;
$sidebar-header-color: rgba(255,255,255, 0.4) !default;

$sidebar-color: rgba(255,255,255, 0.55) !default;
$sidebar-active-color: $white !default;
$sidebar-hover-color: $white !default;
$sidebar-font-size: 0.875rem !default;


